/*!CK:37528449!*//*1385992881,173209391*/

._5q80 a{color:#6d84b4}
._5q80{margin-top:4px}
._5q81 a{color:#6d84b4}
._5q81{background-color:#f7f7f7;border:1px solid #e3e3e3;margin-top:4px}
._5q82{float:left;margin-top:1px}
._5q81 ._5t11{margin-bottom:4px;margin-left:4px}
._5q81 ._5t12{margin-left:16px;margin-top:4px}
._51u6{margin-bottom:-4px}
.pageAdminListItemNotifs{line-height:1em;padding:3px 0 4px}
.sp_9ufmnc{background-image:url(/rsrc.php/v2/yx/r/-yDZDKP6kOZ.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:8px;width:8px}
.sx_238562{width:15px;height:16px;background-position:0 0}
.sx_9f96f6{background-position:0 -17px}
.sx_c6772d{background-position:0 -26px}

#bootloader_ySQDX { height: 42px; }
.bootloader_ySQDX { display:block !important; }