/*!CK:1168959845!*//*1386083353,173203223*/

.fbChatSidebar{background-clip:padding-box;background-color:#f2f4f8;border-left:1px solid rgba(0, 0, 0, .4);box-shadow:inset 2px 0 2px -2px #b2b9c9;display:none;height:100%;position:fixed;right:0;top:0;width:205px;z-index:300}
.sidebarMode .fbChatSidebar{display:block}
.fbChatSidebar .fbChatSidebarBody{overflow:hidden;position:relative}
.fbChatSidebar .scrollableOrderedList{height:100%;width:100% !important}
.fbChatSidebar .scrollableOrderedList .uiScrollableAreaTrack{top:10px}
.fbChatSidebar .fbChatOrderedList, .fbChatSidebar .fbChatTypeaheadView{padding-top:8px}
.fbChatSidebar .fbChatSidebarMessage{background-color:#fff;border-top:1px solid #ccd0db;box-shadow:inset 0 1px #fafafa;display:none;padding:8px}
.fbChatSidebar.notice .fbChatSidebarMessage, .fbChatSidebar.error .fbChatSidebarMessage, .fbChatSidebar.offline .fbChatSidebarMessage, .fbChatSidebar.blackbird .fbChatSidebarMessage, .fbChatSidebar.upsell .fbChatSidebarMessage{display:block}
.fbChatSidebar.blackbird .fbChatSidebarMessage .message, .fbChatSidebar.upsell .fbChatSidebarMessage .message{color:#333}
.fbChatSidebar .fbChatSidebarMessage .img{float:left;margin-top:3px}
.fbChatSidebar.notice .fbChatSidebarMessage .img{display:none}
.fbChatSidebar.error .fbChatSidebarMessage .img{margin-top:7px}
.fbChatSidebar.offline .fbChatSidebarMessage .img{background-image:url(/rsrc.php/v2/yF/r/Y4E4ZxXaDsm.png);background-repeat:no-repeat;background-size:auto;background-position:-292px -233px;height:10px;width:16px}
.fbChatSidebar.error .fbChatSidebarMessage .img{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-209px -187px;height:13px;width:14px}
.fbChatSidebar.offline .fbChatSidebarMessage .message, .fbChatSidebar.error .fbChatSidebarMessage .message{margin-left:24px}
.fbChatSidebar .fbChatSidebarMessage .message .fbChatReconnectLink{white-space:nowrap}
._5qqe{height:37px}
.hasSmurfbar ._5qqe{height:42px}
div._5qth .uiCloseButton{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:0 -219px;border:0;height:24px;width:26px}
.highContrast div._5qth .uiCloseButton{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.highContrast div._5qth .uiCloseButton::before{content:attr(title)}
.fbSidebarFavoriteList div._5qth .uiCloseButton{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-27px -219px}
div._5qth .uiCloseButton:hover{background-color:#fff}
div._5qth .openToggler .uiCloseButton{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-200px -105px;border:0 !important;border-left:1px solid #3b5998 !important;border-right:1px solid #3b5998 !important;margin:0 -1px}
div._5qth .openToggler .uiSelectorMenuWrapper{margin-right:-1px}
._5qth .uiMenuItem .itemLabel{white-space:normal;width:120px}
._5qth .uiMenu .disabled{display:none}
._5qth .uiMenu .checked .itemAnchor{font-weight:normal}
.offline ._5qth .fbChatGoOnlineItem, .upsell ._5qth .fbChatGoOnlineItem, ._5qth .fbChatGoOfflineItem{display:block}
.offline ._5qth .fbChatGoOfflineItem, .upsell ._5qth .fbChatGoOfflineItem, ._5qth .fbChatGoOnlineItem{display:none}
._5pr2.fbChatSidebar div._5qth .uiCloseButton{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-3px -190px;background-color:transparent;border-left-color:transparent !important;border-right-color:transparent !important;height:26px}
._5pr2 div._5qth .uiCloseButton:hover, ._5pr2 div._5qth .openToggler .uiCloseButton, ._5pr2 div._5qth .uiCloseButton:active{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-35px -190px}
._5468.fbChatSidebar div._5qth .uiCloseButton, ._4g5r ._56h3 div._5qth .uiCloseButton{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-64px -187px;background-color:transparent;height:32px;width:24px}
._5468.fbChatSidebar ._5qth .uiCloseButton:hover, ._4g5r ._56h3 ._5qth .uiCloseButton:hover{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-112px -187px}
._5468.fbChatSidebar ._5qth .openToggler .uiCloseButton, ._5468.fbChatSidebar ._5qth .uiCloseButton:active, ._4g5r ._56h3 ._5qth .openToggler .uiCloseButton, ._4g5r ._56h3 ._5qth .uiCloseButton:active{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-88px -187px;background-color:#333741;border-left-color:transparent !important;border-right-color:transparent !important}
._5bcj.fbChatSidebar ._5qth{float:right}
._5bcj.fbChatSidebar div._5qth .uiCloseButton{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-137px -189px;height:27px;width:21px}
._5bcj.fbChatSidebar ._5qth .uiCloseButton:hover, ._5bcj.fbChatSidebar ._5qth .openToggler .uiCloseButton, ._5bcj.fbChatSidebar ._5qth .uiCloseButton:active{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-163px -189px;background-color:transparent}
.fbChatSidebar .fbChatTypeaheadView{bottom:0;position:absolute;top:auto;width:100%}
._d3c{display:none}
.canvas ._d3c.img, .music ._d3c.img{margin-right:3px}
._6nw .music ._d3c.img{margin-right:7px}
._42g5 .music ._d3c, .fbChatOrderedList .music ._d3c{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-220px -220px;display:inline-block;height:12px;margin-right:5px;margin-top:4px;width:10px}
._42g5 .birthday ._d3c, .fbChatOrderedList .birthday ._d3c{background-image:url(/rsrc.php/v2/y2/r/PRAdOg0pUA_.png);background-repeat:no-repeat;background-size:auto;background-position:-136px -138px;display:inline-block;height:16px;margin-bottom:1px;margin-right:2px;vertical-align:middle;width:16px}
._5j5x .birthday ._d3c{background-image:url(/rsrc.php/v2/y2/r/PRAdOg0pUA_.png);background-repeat:no-repeat;background-size:auto;background-position:-312px -114px;height:10px;margin-bottom:3px;margin-right:5px;width:9px}
._6nw .birthday ._d3c{margin-bottom:4px}
._d3d{padding:8px 10px 10px}
._d3d ._d3e{border-bottom:1px solid #e9e9e9;margin-bottom:8px;padding:0 0 3px}
._5468 ._42g5 .music ._d3c, ._5468 .fbChatOrderedList .music ._d3c{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-222px -132px;height:10px;margin-top:0;width:8px}
._5bcj ._42g5 .music ._d3c, ._5bcj .fbChatOrderedList .music ._d3c{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-222px -203px;height:9px;width:7px}
._5468 ._42g5 .canvas ._d3c, ._5468 .fbChatOrderedList .canvas ._d3c{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-54px -219px;height:13px;width:13px}
._42g5 .canvas ._d3c, .fbChatOrderedList .canvas ._d3c, ._5bcj ._42g5 .canvas ._d3c, ._5bcj .fbChatOrderedList .canvas ._d3c{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-209px -201px;display:inline-block;height:12px;width:12px}
.fbSidebarGripper{border-bottom:1px solid #e9eaee;border-top:1px solid #cad0db;cursor:ns-resize;width:100%}
.fbSidebarFavoriteList .fbSidebarGripper{border-bottom:1px solid #fdfdfe}
.fbSidebarGripper div{background:#e4e7f0;border-bottom:1px solid #bdc5d2;border-top:1px solid #f0f1f6;height:4px;position:relative}
.fbSidebarGripper div span{background:#f0f1f6;border-top:1px solid #cad0db;display:block;height:1px;left:50%;margin-left:-6px;margin-top:1px;position:absolute;width:12px}
div.fbSidebarGripper.disabledGrip{border-color:#ccc;border-style:solid;border-width:1px 0 0;cursor:auto;height:0;margin:0;overflow:hidden;padding:0;position:static;width:auto}
.fbSidebarGripper.disabledGrip div, .fbSidebarGripper.disabledGrip:before{display:none}
._4mq3{height:25px;min-width:201px}
.presence_error ._4mq3, .sidebarMode ._4mq3{display:none}
._4kdq ._4mq3{display:block}
._4mq3.openToggler{z-index:99}
._4mq3.openToggler .fbNubButton{display:none}
._4mq3 .fbNubButton .icon{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-181px -161px;float:left;height:10px;margin:3px 4px 0 0;width:16px}
.offline ._4mq3 .fbNubButton .icon, .offline.error ._4mq3 .fbNubButton .icon{background-image:url(/rsrc.php/v2/yF/r/Y4E4ZxXaDsm.png);background-repeat:no-repeat;background-size:auto;background-position:-292px -233px;height:10px;margin:3px 4px 0 0;width:16px}
.error ._4mq3 .fbNubButton .icon{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-209px -187px;height:13px;margin-top:1px;width:14px}
._4mq3 .fbNubButton .label{line-height:15px;margin-right:4px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._4mq3 .fbNubButton .label .count{color:#333}
._4mq3 .fbNubFlyout{bottom:0;min-height:280px;width:100%}
._5q5b ._4mq3 .fbNubFlyout{bottom:-3px}
._4mq3 .fbNubFlyoutInner{border-bottom:0}
._4mq3 .fbNubFlyoutTitlebar .titlebarLabel{padding:0}
._4mq3 .fbNubFlyoutTitlebar .titlebarTextWrapper{margin:3px 3px 3px 5px}
._4mq3 .fbChatOrderedList, ._4mq3 .fbChatTypeaheadView{padding:5px 0}
._4mq3 .fbChatTypeahead, ._4mq3 .fbChatTypeahead .wrap{border-style:none}
._4mq3 .fbChatTypeahead{border-top:1px solid #dadfea}
._4mq3 .fbChatTypeahead input{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:left -107px;-moz-box-sizing:border-box;height:24px;padding-left:20px;padding-right:25px}
._4mq3 div._5qth .uiCloseButton{background-image:url(/rsrc.php/v2/y1/r/ZEZO8bYyQlr.png);background-repeat:no-repeat;background-size:auto;background-position:0 -447px;border:0 !important;box-shadow:none;height:24px;width:22px}
._4mq3 div._5qth .uiCloseButton:active, ._4mq3 div._5qth .uiCloseButton:focus, ._4mq3 div._5qth .uiCloseButton:hover, ._4mq3 div._5qth .openToggler .uiCloseButton, ._4mq3 div._5qth .openToggler .uiCloseButton:active, ._4mq3 div._5qth .openToggler .uiCloseButton:focus, ._4mq3 div._5qth .openToggler .uiCloseButton:hover{background-image:url(/rsrc.php/v2/y1/r/ZEZO8bYyQlr.png);background-repeat:no-repeat;background-size:auto;background-position:-68px -418px;background-color:#4a66a0;margin:0}
._4mq3 ._4mq7{background-color:#fff;border-top:1px solid #ccd0db;display:none;padding:6px}
.error ._4mq3 ._4mq7{display:block}
.error ._4mq3 ._4mq7 .img{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-209px -187px;float:left;height:13px;margin-top:7px;width:14px}
._4mq3 ._4mq1{margin-left:24px}
.rogerMarketingCallout .learnMoreLink{margin-left:7px}
._50--{bottom:0;direction:ltr;height:25px;left:0;position:fixed;right:0;z-index:300}
._5l9_ ._50--{-moz-backface-visibility:hidden}
._5q5b._50--{height:28px}
html ._6nw ._50--{right:0}
.sidebarMode ._50--, .sidebarMode ._5bci ._50--, .sidebarMode ._5ap2 ._50--{right:205px}
.sidebarMode .hasPagesManagerNavbar._6nw ._50--{right:205px}
html ._4kdq ._50--{right:0}
.fbDockWrapperLeft{right:auto}
.fbDockWrapperRight{left:auto}
.fbDock{margin:0 15px 0 0}
.fbDock .lNubContainer{float:left}
.fbDock .rNubContainer{float:right}
#fbTranslationsNub .fbNubFlyout{width:219px}
#fbTranslationsNub .xmode_row{line-height:15px;padding:0 10px 2px 10px}
#fbTranslationsNub .xmode_row_last{line-height:15px;margin:0 10px 0 10px;padding:5px 0 10px;border-top:1px solid #e7e7e7}
#fbTranslationsNub .xselect{padding:5px 6px}
#fbTranslationsNub .xselect select{width:100%}
#fbTranslationsNub .translation_options{padding:8px 0}
#fbTranslationsNub .xexplain{margin:5px 10px 0 10px;padding-bottom:5px;line-height:15px;border-bottom:1px solid #e7e7e7;color:#555}
.downloadDialogPositioner .downloadDialog{position:fixed;z-index:301}
.downloadDialogTopLeft .downloadDialog{left:10px;top:48px}
.downloadDialogBottomLeft .downloadDialog{left:10px;bottom:10px}
.downloadDialogIE9Bottom .downloadDialog{left:10px;bottom:108px}
.downloadDialogTitle{border-bottom:1px solid #e5eaf1;background-color:#edeff4}
.downloadDialogStep .downloadDialogStepLabel{padding-top:3px}
._6nl, ._6nm{color:#141823;font-size:14px;font-weight:normal;line-height:18px;max-width:480px}
._5bu2 ._6nl, ._5bu2 ._6nm{max-width:512px}
._6nm ._42wl{float:left}
._6nl a, ._6ns ._6nm ._50jn a{color:#141823;font-weight:bold}
._57u0 ._6nl, ._57u0 ._6nl a, ._57u0 ._6nm, ._57u0 ._6nm ._50jn a, ._588m ._6nm a.profileLink{color:#333}
._6ns ._6nm a, ._6kq .text_exposed_link a{color:#2e57aa}
._6nm a.profileLink, ._6nm a._58cn{color:#141823;font-weight:bold}
._6nm ._58cn ._58cl{color:#373e4d;font-weight:normal}
._6nm a.weakReference, ._6ns ._6nm ._50jn a.weakReference, ._57u0 ._6nm a.weakReference{color:gray;display:inline-block}
._6nm a.weakReference i{margin-right:3px}
._6np{font-weight:bold}
._6nm{margin-bottom:3px;margin-top:2px;word-wrap:break-word}
._4vcw ._6nm{margin-bottom:0;margin-top:0}
._4q_ ._6nm{margin-bottom:6px}
._4q_ ._57n4, ._4vcw ._4q_ ._6nm{margin-bottom:5px}
._6nm p{margin:6px 0}
._6nm p:first-child{margin-top:0}
._6nm p:last-child{display:inline;margin-bottom:0}
._5ngu{margin-top:4px}
._6kq .text_exposed_root > p:last-of-type{display:inline}
._6kq .text_exposed > p:first-child, ._6kq .text_exposed > p:last-of-type{display:block}
._6kq .text_exposed_hide{display:inline-block;margin-right:4px}
._6kq .text_exposed .text_exposed_hide{display:none}
._6kq .text_exposed_link{display:inline-block;font-size:100%;padding:0}
._6kq .text_exposed .text_exposed_show .text_exposed_link{display:inline !important}
._6kq .userContent{display:inline}
._6nl ._52eh{color:#6a7480}
._cv8{display:inline-block}
._cv8 .img{height:10px;margin-top:2px;vertical-align:top;width:10px}
._x_y{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-222px -143px}
._51l-{margin-bottom:-2px;margin-right:5px}
._5bxn{color:#898f9c;font-size:12px}
.sidebarMode .tickerStoryContent{max-width:158px}
.fbChatSidebar .tickerHeader{display:none}
.fbChatSidebar .ticker_container{border:0 !important;height:100% !important;width:205px !important}
.fbChatSidebar .scrollTopPrompt{width:205px !important}
.fbChatSidebar .fbFeedTicker{height:100% !important;width:100%}
.fbChatSidebar .uiSideHeader{background-color:#d8dfea !important;border-bottom:1px solid #ccd4e2 !important;border-top:0 !important;margin-bottom:0}
.fbChatSidebar .tickerStoryBlock{margin-left:0 !important}
.fbChatSidebar .fbFeedTicker .fbFeedTickerStory{background-color:transparent;border-bottom-color:transparent;border-top-color:#d8dfea;line-height:13px;padding-right:5px}
.fbChatSidebar .fbFeedTicker .tickerStoryClickable:hover{border-bottom-color:transparent !important;box-shadow:inset 2px 0 2px -2px #b2b9c9}
.fbChatSidebar .fbFeedTicker .tickerStoryHidden, .fbChatSidebar .fbFeedTicker .tickerStoryHidden:hover{background-color:transparent !important;border-bottom-color:transparent !important;border-top-color:#d8dfea !important}
.fbChatSidebar #pagelet_ticker{height:50%;overflow:hidden;position:relative}
.fbChatSidebar #pagelet_canvas_nav_content{overflow:hidden;position:relative}
.fbChatSidebar .tickerStoryImage{height:28px !important;margin-left:3px !important;width:28px !important}
.fbChatSidebar .fbFeedTicker .tickerStorySelected, .fbChatSidebar .fbFeedTicker .tickerStorySelected:hover{background-position:11px 15px;border-bottom-color:#a8b2ce !important;box-shadow:inset 2px 0 2px -2px #b2b9c9}
.fbChatSidebar .fbFeedTicker .tickerStorySelected.tickerStoryRtl, .fbChatSidebar .fbFeedTicker .tickerStorySelected.tickerStoryRtl:hover{background-position:178px 15px}
.fbChatSidebar .fbFeedTicker .fbFeedTickerStory.tickerNuxStory{background-color:#fff;border-bottom:1px solid #b0b0b0;border-top:1px solid #fff;padding:8px 8px 9px 10px;width:190px;z-index:10}
.fbChatSidebar .sidebarWithFavorites .scrollableOrderedList .uiScrollableAreaTrack{top:25px}
._4_37{margin-left:205px}
._4kdq ._4_37, ._5ap2 ._4_37, ._5bci ._4_37{margin-left:56px}
.sidebarMode ._5bci ._4_37, .sidebarMode ._5ap2 ._4_37{margin-right:205px}
._4kdq ._5ap2 ._4_37{margin-right:0}
._4_l-{z-index:300}
._58g_ .megaphone_story_wrapper{margin-bottom:9px;margin-top:3px}
._58g_ .megaphone_box{background-color:#fff;border:1px solid #d4d5d8;border-left-color:#d3d5db;border-radius:3px;border-right-color:#d3d5db;padding:12px}
._58g_ .megaphone_story .title, ._58g_ .megaphone_story .megaphone_title{color:#141823;font-size:14px;font-weight:bold;line-height:14px;margin-bottom:2px}
._58g_ .megaphone_story .megaphone_content{color:#141823;font-size:12px;line-height:16px;max-width:494px}
._58g_ .megaphone_story .megaphone_img_block_body .megaphone_content{max-width:370px}
._58g_ .megaphone_action{margin-top:13px}
._580k{margin:4px 0 4px 4px}
._580k .img{margin-right:16px}
._58g_ .megaphone_hide_link{margin-right:2px;margin-top:2px}
._5848.megaphone_story_wrapper{margin-bottom:6px;margin-left:auto;margin-right:auto;width:924px}
._58g_ textarea, ._58g_ .inputtext, ._58g_ .inputpassword{border:1px solid #d3d6db}
._6nw ._58g_._5848 .megaphone_box{border:none;border-radius:none;padding:13px 0 17px 0;width:924px}
._5847{background-color:#fff;border-bottom:1px solid #c3c4c6;left:0;position:absolute;width:100%}
._5848 .megaphone_story .title, ._5848 .megaphone_story .megaphone_title{font-size:18px}
._5848._58g_ .megaphone_story .megaphone_img_block_body .megaphone_content{max-width:100%}
._5848._58g_ .megaphone_story .megaphone_content{color:#6a7180;line-height:18px;margin-top:2px;max-width:100%}
.megaphone_story_wrapper{margin-bottom:20px}
.dialog_content .megaphone_story_wrapper{margin-bottom:0}
.megaphone_story{position:relative;overflow:hidden}
.megaphone_story .megaphone_content{font-size:11px}
.megaphone_story .megaphone_hide_link{float:right}
.megaphone_story_highlighted{background-color:#fcf5d0;border:1px solid #cbb631}
.megaphone_box{background-color:#f6f7f8;border:1px dashed #ced5e5}
.hasLeftCol .megaphone_box{border-width:0 0 1px 0;margin-left:-20px;margin-top:-15px}
#headerArea .megaphone_box{margin-right:-20px;margin-top:-17px}
#headerArea .megaphone_location_new_group_profile .megaphone_box{margin:0 0 2px 0}
.megaphone_location_new_group_profile .megaphone_action{margin-top:2px}
#megaphone_story_1622{margin-bottom:0}
.megaphone_location_friends{margin:0}
.megaphone_location_privacy{margin-left:auto;margin-right:auto;width:760px}
.timelineLayout .megaphone_location_managed_profile_admin .megaphone_box{border-top:1px dashed #ced5e5}
._2px{position:absolute;top:-1px;left:0}
._50d1{border-radius:4px;bottom:30px;left:30px;list-style:none;margin:0;opacity:.96;position:fixed;width:245px;z-index:401}
._6nw ._50d1{font-family:'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;width:320px}
._50d1 ._a_g{background-color:#fff;border:1px solid #ccc;border-radius:5px 5px 0 0;bottom:-31px;cursor:pointer;font-size:9px;font-weight:bold;padding:3px 5px;position:absolute;text-align:center;width:60px}
._50d1 ._a_g:hover{background-color:#fff9d7;border-color:#eed111}
._3sod{background-color:#e1e6ee;border:1px solid #99a8c7;border-radius:3px;font-size:11px;margin-top:3px;opacity:0;position:relative;top:-30px;-moz-transition:top .2s ease-in-out,
opacity .3s ease-in-out}
._5p3y ._3sod{font-size:12px}
._6nw ._3sod{background-color:#fff;border:1px solid #ccc;border-radius:4px;box-shadow:0 0 4px rgba(0, 0, 0, .2);font-size:12px;margin-top:4px;-moz-transition:top .2s ease-in-out,
opacity .3s ease-in-out,
-moz-box-shadow .2s ease-in-out}
._3soe{opacity:1;top:0}
._3sof{display:none}
._3sod:hover{background-color:#cad1de}
._6nw ._3sod:hover{background-color:#fff;border:1px solid #bbb;box-shadow:0 0 6px rgba(0, 0, 0, .4)}
._3sod ._3sok{display:block;height:28px;margin-right:8px;width:28px}
._3sod ._3soi, ._3sod ._3soi:hover{color:#333;text-decoration:none}
._3sod ._3soj{padding:10px}
._3sod ._3sol{margin-top:-2px;word-wrap:break-word}
._3sod ._3soc{float:right;margin:8px 8px 7px 7px}
._3sod ._3som{color:#777;margin-top:5px}
.fbPhotoTagger ._570u{min-width:220px;padding:6px}
._570v{margin-left:3px;margin-top:1px}
._5ep9{background:none;border:2px solid rgba(255, 255, 255, .3);border-radius:3px;overflow:hidden;position:absolute}
._5epb{overflow:hidden;position:relative}
._5epc{position:relative}
._5epd{position:absolute}
._56vv{display:inline-block;position:relative}
._56vw{position:absolute}
._56vw ._56vx{width:246px}
._56vy{height:65px}
._56vv ._56v-{display:inline;position:absolute;top:0;z-index:4}
._56vv ._56v_{left:0}
._56vv ._56w0{right:2px}
._2xo._56v-{display:none}
._5mt2 ._56vw ._56vx{width:205px}
._59lf ._56vv ._56w0, ._5mt2 ._56vv ._56w0{right:0}
._5mt2 .uiHeader.uiSideHeader{background-color:#e7ebf2 !important;border-bottom:0 !important;border-top:1px solid #ccd4e2 !important}
._5pxg{background-image:-moz-linear-gradient(bottom, #f0f4f9, #f4f6f9);display:block;height:23px;line-height:12px}
._59lf ._56vw ._56vx{width:290px}
.uiSelectorBottomUp .openToggler .uiSelectorButton,
.uiSelectorBottomUp .openToggler .uiSelectorButton:active,
.uiSelectorBottomUp .openToggler .uiSelectorButton:focus,
.uiSelectorBottomUp .openToggler .uiSelectorButton:hover,
.uiSelectorBottomUp .openToggler .uiButtonSuppressed,
.uiSelectorBottomUp .openToggler .uiButtonSuppressed:active,
.uiSelectorBottomUp .openToggler .uiButtonSuppressed:focus,
.uiSelectorBottomUp .openToggler .uiButtonSuppressed:hover{border:1px solid #3b5998;border-top-color:#6d84b4}
.uiSelectorBottomUp .uiSelectorMenuWrapper{bottom:100%;margin-bottom:-2px;top:auto}
._2xq{height:100%;position:relative}
._2xr, ._2xs{float:left}
._2xt._2xs{margin:0}
._2xo{display:none}
._2xu{height:100%;overflow:hidden;position:relative}
._2xv ._2xn._2xr{visibility:visible}
._2xv ._2xr{visibility:hidden;position:absolute}

#bootloader_Szj0B { height: 42px; }
.bootloader_Szj0B { display:block !important; }