/*!CK:886991881!*//*1386083361,173213981*/

.permalinkBody._57_t .hasRightCol #rightCol{background-color:#fff;border:1px solid #c4cde0;border-radius:4px;padding:0 3px 1px;width:244px}
.permalinkBody._57_t .hasRightCol #contentArea{width:623px}
.permalinkBody._57_t .ego_column{width:244px}
.permalinkBody._57_t .ego_column .ego_section .ego_unit_container
.ego_unit{border-color:#e9e9e9}
.permalinkBody._57_t .uiSideHeader{height:20px;margin:6px 6px 0 6px;width:232px}
.permalinkBody._57_t .uiHeader .uiHeaderTop{padding-top:2px}
.permalinkBody._57_t .rhcFooterWrap{padding-bottom:10px}
.permalinkBody._57_t .ego_unit{padding:3px 6px}
.canvas._57_t .hasRightCol #rightCol{width:290px}
.canvas._57_t .ego_section{width:290px}
._57_t.ego_page .UIStandardFrame_Content{width:680px}
._57_t .fbPhotoImageStage .imageStage{width:680px}
._57_t .fbxPhoto .fbPhotoImage{max-width:680px}
._57_t .ego_column{width:284px}
body.permalinkBody{background-color:#e7ebf2}
body.permalinkBody #globalContainer{margin-top:40px;min-width:889px;width:889px}
.permalinkBody #mainContainer{margin-bottom:50px;width:100%}
.permalinkBody #contentCol{background-color:transparent}
.permalinkBody .hasRightCol #rightCol{width:243px}
.permalinkBody .hasRightCol #contentArea{border:1px solid #c4cde0;border-radius:4px;width:624px;background-color:#fff;padding:0 3px 1px}
.permalinkBody .permalink_stream .uiStream .uiStreamMessage, .permalinkBody .permalink_stream .uiStream .uiStreamAttachments{padding-left:15px;padding-right:20px}
.permalinkBody .permalink_stream .uiStream .uiStreamMessage{font-size:13px;line-height:18px}
.permalinkBody .permalink_stream .uiStream .mainWrapper .uiAttachmentNoMedia{padding-left:10px;margin-left:18px;border-left:2px solid #c0c9dd}
.permalinkBody .permalink_stream .fbStreamPermalinkHeader{border-bottom:1px solid #e9e9e9;margin:15px;padding-bottom:10px}
.permalinkBody .permalink_stream .uiStream .uiStreamStory .mainWrapper{margin-bottom:4px;margin-right:0;padding-top:0}
.permalinkBody .uiCommentContainer{margin-bottom:-2px}
.permalinkBody .uiStreamRedesign .uiCommentContainer{margin-bottom:-4px}
.permalinkBody .fbTimelineUFI{margin-top:7px}
.permalinkBody .permalink_stream .subscribeOrLikeSentence, .permalinkBody .permalink_stream .uiStreamPassive, .permalinkBody .permalink_stream .uiStreamHeadline{color:#999;font-weight:normal}
.permalinkBody .permalink_stream .uiStreamPrivacy .img, .permalinkBody .permalink_stream .uiStreamSecondaryTime .img{margin-top:2px}
.permalinkBody .permalink_stream .uiStreamMessage .actorDescription{padding:0}
.permalinkBody .uiStreamSource{font-size:11px}
.permalinkBody .permalink_stream .uiStreamHide{float:right}
.permalinkBody .permalinkHeaderContent{margin-left:60px}
.permalinkBody .permalinkHeaderContent .permalinkHeaderContentText{max-width:447px}
.permalinkBody .permalinkHeaderInfo{max-width:370px}
.permalinkBody .fbStreamPermalinkHeader .uiCloseButton{left:-9999px;overflow:hidden;position:relative;float:right;margin-bottom:5px}
.permalinkBody .permalink_stream:hover .fbStreamPermalinkHeader .uiCloseButton{left:auto;overflow:visible;margin-bottom:5px}
.permalinkBody #globalContainer #mainContainer .permalink_stream .noStoryBodyHeader{border-bottom:none}
.permalinkBody #globalContainer #mainContainer .spamMessage{padding:15px 0 15px 15px;border-top:solid 1px #eee}
._54hs{margin-right:1px;position:relative;top:-2px}
._5llg{margin-right:0;top:2px}
._54hs ._54hx{padding-right:2px}
.listMemberFacepileFacebar .img{height:24px !important;width:24px !important}
.listMemberFacepileSearch .img,
.listMemberFacepileNormal .img{height:25px !important;width:25px !important}
.listMemberFacepileLarge .img{height:36px !important;width:36px !important}
.listMemberFacepileLargeCollection .img{height:31px !important;width:31px !important}
div.listMemberFacepileSearch{height:50px;width:50px}
div.listMemberFacepileFacebar{height:48px;width:48px}
div.listMemberFacepileNormal{width:51px;height:51px}
div.listMemberFacepileLarge{width:75px;height:75px}
div.listMemberFacepileLargeCollection{height:64px;width:64px}
div.listMemberFacepileHuge{width:101px;height:101px}
.listMemberFacepile{line-height:0;outline:none;white-space:normal}
.listMemberFacepile .firstImg{margin-right:1px}
.listMemberFacepile .lastImg{margin:1px 0 0 1px}
.listMemberFacepile.listMemberFacepileSearch .firstImg,
.listMemberFacepile.listMemberFacepileFacebar .firstImg{margin-right:0}
.listMemberFacepile.listMemberFacepileSearch .lastImg,
.listMemberFacepile.listMemberFacepileFacebar .lastImg{margin:0}
.listMemberFacepile.listMemberFacepileSearch .img{left:0;position:relative}
.listMemberFacepile .img{display:inline !important}
.fbGroupsStream .uiStreamHeaderText{margin-left:50px}
.fbGroupsBoulderStream{margin-top:-5px}
.groupsStreamIcon{margin-left:34px}
.groupsStreamIcon .img{height:16px;width:16px}
.groupJumpLayout .fbGroupsBoulderStream .mainWrapper{margin-right:20px}
.groupJumpLayout .fbGroupsBoulderStream .uiStreamStory{margin-left:-10px}
.groupJumpLayout .fbGroupsBoulderStream .uiStream .uiStreamHeader{margin:20px 0 5px 0}
.groupJumpLayout .fbGroupsBoulderStream .uiStreamHeader .uiStreamHeaderText{margin-left:65px;padding-right:10px}
.groupsStreamSmallFace{margin-left:26px}
.groupsStreamSmallFace .img{height:24px;width:24px}
ul.fbGroupsBoulderStream .uiStreamHeader{border-width:1px 0 0 0;margin:15px 0 -1px -18px;padding-bottom:0}
.groupsSky ul.fbGroupsBoulderStream .uiStreamHeader{margin:15px -15px -1px}
.groupsSky .uiStream .uiStreamHeader .uiStreamHeaderText{margin-left:65px}
.groupJumpLayout .fbGroupsBoulderStream .uiStreamHeader{margin-left:-10px}
.uiStream .uiStreamNoBorderStory{border-width:0}
.uiStreamStory.uiStreamNoBorderStory .storyContent{margin:-3px 0 3px}
.groupsMallSelector{margin-left:-10px}
.fbGroupsPinnedSection{margin-bottom:3px;margin-top:-13px}
.uiStream.fbGroupsBoulderStream .uiStreamHeader,
.uiStream .fbGroupsBoulderStream .uiStreamHeader{border:none}
.groupsPinnedLite{margin-top:-22px}
.fbGroupsFbFeedPinnedSection{margin-bottom:3px;margin-top:-16px}
.egoGYSJ{margin-bottom:2px;margin-left:3px}
.egoGYSJImage{margin-top:2px}
.egoGYSJName{display:inline-block;font-weight:bold;max-width:162px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.egoGYSJFooter{padding:0 18px 15px 0}
.egoGYSJFooterButton{width:100%}
.egoGYSJFeedbackLink{margin-right:12px}
._5e7- th.label{color:#999;font-weight:bold;line-height:15px;text-align:left;vertical-align:top;width:90px;word-wrap:break-word}
._5e7- td.data{line-height:15px;width:100%}
._5h4e ._480v{width:50px}
._5jv_{display:block}
._5e7- td.rightCol{padding:3px 0 0 35px;text-align:right;width:50px}
._5e7- .fbProfileExperience .experienceTitle{font-weight:normal}
._5e7- .sampleImageCaption{text-align:center;width:50px;word-wrap:break-word}
._5e7- .uiInfoTable .label{color:#666;font-size:11px;font-weight:normal;padding-top:0}
._5jsb:hover{background:#f6f7f8}
._5jsb ._5q_g{visibility:hidden}
._5jsb:hover ._5q_g{visibility:inherit}
._5pty ._5jsb:hover{background:inherit}
._5pty ._5pu7{display:none}
._5pu7{line-height:2em}
._5pu7 .fbProfileEditLink{display:block}
._5e7- .uiInfoTable .data{padding-top:0}
._5e7- .throbber{display:none}
._5e7- .async_saving .throbber{display:block}
table._5e7-{margin:0 10px 5px;width:379px}
._5e7- ._480u{line-height:15px;padding-top:4px}
._5e7- th._3sts{color:#999;font-weight:normal;line-height:15px;text-align:left;vertical-align:top;width:79px;word-wrap:break-word}
#relationships ._5oj6 ._3sts, ._5nyh ._5nyi, ._5ql3 ._5ql4, ._5oj6 ._5oj7{display:none}
._538q{border:1px solid #e9eaed}
._538r{color:#adb3bc}
.sp_dsqpyz{background-image:url(/rsrc.php/v2/y9/r/JOCrWqdrt40.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}
.sx_73aad6{width:13px;height:14px;background-position:-13px -33px}
.selected .sx_73aad6{background-position:0 -33px}
.sx_827d2a{height:14px;background-position:-12px -48px}
.selected .sx_827d2a{background-position:0 -48px}
.sx_e137da{width:8px;height:8px;background-position:-17px -159px}
.sx_c4ca09{width:16px;height:16px;background-position:-14px -102px}
.sx_8b8747{background-position:-12px -63px}
.selected .sx_8b8747{background-position:0 -63px}
.sx_e48191{width:32px;height:32px;background-position:0 0}
.sx_4e91b9{background-position:-12px -76px}
.selected .sx_4e91b9{background-position:0 -76px}
.sx_8abd56{background-position:-12px -89px}
.selected .sx_8abd56{background-position:0 -89px}
.sx_569708{background-position:-17px -120px}
.sx_9baebd{background-position:-17px -133px}
.sx_461343{background-position:-17px -146px}
.sx_1ca1f1{width:16px;height:16px;background-position:0 -120px}
.sx_f9368f{width:16px;height:16px;background-position:0 -137px}
.sx_b5502d{width:13px;height:17px;background-position:0 -102px}
.sx_fb3d16{width:16px;height:16px;background-position:0 -154px}
.uiStreamStory .uiStreamSubstory .photoRedesign{width:358px}
.uiStreamStory .photoRedesign, .uiStreamStory .uiStreamSubstorySameActor .photoRedesign{width:398px}
.uiStreamStory .uiStreamAttachments .photoRedesignAspect, .uiStreamStory .uiStreamAttachments .photoRedesignCover, .uiStreamStory .uiStreamAttachments .photoRedesignLink{border:0;display:block;float:left;position:relative}
.uiStreamStory .photoRedesignSquare .photoWrap{height:320px;width:320px}
.uiStreamStory .uiStreamSubstory .photoRedesignSquare .photoWrap{height:300px;width:300px}
.uiStreamStory .photoRedesignMiddle .photoWrap{height:196px;width:196px}
.uiStreamStory .uiStreamSubstory .photoRedesignMiddle .photoWrap{height:176px;width:176px}
.uiStreamStory .photoRedesignSmallEdge .photoWrap{margin-right:-1px}
.uiStreamStory .photoRedesignCover{display:block;height:147px;overflow:hidden;position:relative;width:398px}
.uiStreamStory .uiStreamSubstory .photoRedesignCover{height:133px;width:358px}
.uiStreamStory .uiStreamAttachments .photoRedesignAspect .img, .uiStreamStory .uiStreamAttachments .photoRedesignCover .img{display:block;margin:0;max-width:none}
.uiStreamStory .photoRedesignCover .img{position:absolute}
.uiStream .uiStreamStory .photoRedesignNoScale .photoWrap{background:none;text-align:left;width:auto}
.uiStreamStory .photoRedesignAspect:after, .uiStreamStory .photoRedesignCover:after, .uiStreamStory .photoRedesignLink .uiScaledImageContainer:after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
.photoWrap .photoRedesignFacebox{border:2px solid rgba(255, 255, 255, .8);border-radius:3px;position:absolute}
.uiStreamStory .photoRedesignRightMargin{margin-right:5px}
.uiStreamStory .photoRedesignBottomMargin{margin-bottom:5px}
.uiStreamStory .photoRedesignTopMargin{margin-top:5px}
.uiStreamStory .storyInnerContent .photoRedesignRightMargin{margin-right:2px}
.uiStreamStory .storyInnerContent .photoRedesignBottomMargin{margin-bottom:2px}
.uiStreamStory .storyInnerContent .photoRedesignTopMargin{margin-top:2px}
.uiStreamStory .photoPermaRedesign{width:530px}
._3stn{border:0;border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%}
._3sto td{padding:5px 0}
._3stp ._3sto td{padding:0;visibility:hidden}
._480u, ._480v, ._3sts{padding:3px 0 1px 0;text-align:left;vertical-align:top}
._3stt ._480u, ._3stt ._480v{padding-top:5px}
._480u > input, ._480u > label input, ._480v > input, ._480v > label input{margin-left:0}
._3stt ._3sts{padding-top:8px}
._3sts ._3stu{color:#999}
._480v{padding:0 0 0 20px;width:225px}
._3sts{color:#666;font-weight:bold;padding-right:10px;text-align:right;width:130px;word-wrap:break-word}
.dynamicIconSelectorHideIcons .uiMenuItem .itemWithIcon .itemLabel{display:block}
.dynamicIconSelectorHideIcons .uiMenuItem .itemIcon{display:none}

#bootloader__ODI3 { height: 42px; }
.bootloader__ODI3 { display:block !important; }