/*!CK:129206480!*//*1386083371,173217053*/

.fbCalendarListView #fbCalendarListWrapper{min-height:1200px}
.fbCalendarListView .fbCalendarList{width:673px}
.fbCalendarListView .fbCalendarList .fbCalendarItemContent{width:568px}
.fbCalendarList .fbCalendarLabel{width:90px}
.fbCalendarList .fbLitestandCalendarLabel{width:60px}
.fbCalendarList .fbCalendarItem .fbCalendarHoverElement{visibility:hidden}
.fbCalendarList .fbCalendarItem:hover .fbCalendarHoverElement{visibility:visible}
.fbCalendarList .fbCalendarActionList{display:inline-block}
.fbCalendarItemContent .fbCalendarActions .fbCalendarJoinIcon, .fbCalendarItemContent .fbCalendarActions .fbCalendarInviteIcon{margin-top:2px}
.fbCalendarItem .fbCalendarSuggestedEventPhoto{opacity:.5}
.fbCalendarItem:hover .fbCalendarSuggestedEventPhoto{opacity:1}
.fbCalendarItem .fbCalendarSuggestedEventLabel{color:gray}
.fbCalendarItem:hover .fbCalendarSuggestedEventLabel{color:#333}
.fbCalendarList .fbCalendarHideButton{position:relative;top:-17px}
.fbCalendarList .fbCalendarInlineHideButton{position:relative;top:-2px;display:block;width:16px;margin-left:5px}
.fbCalendarList .fbCalendarHideButton .uiLoadingIndicatorAsync, .fbCalendarList .fbCalendarInlineHideButton .uiLoadingIndicatorAsync{margin-top:4px}
.fbCalendarList .fbCalendarItem .async_saving{visibility:visible}
.fbCalendarList .async_saving .uiCloseButton{display:none}
.fbCalendarList .fbCalendarItemContent{width:402px}
.fbCalendarList .fbCalendarHappyBirthdayer{width:300px}
.fbCalendarLocationPhoto .photoWrap{width:388px;height:298px}
.fbCalendarList .fbHiddenCalendarItem{display:none}
.fbCalendarList .fbCalendarLineSeparator{border-color:#e9e9e9;border-style:solid;border-width:1px 0 0 0}
._4kdq #chatFriendsOnline._5d12{display:block}
#chatFriendsOnline._5d12{padding-bottom:0;padding-top:0}
#chatFriendsOnline._5d12 .uiHeader{padding-bottom:0;padding-top:0}
._5d12 .uiClearableTypeahead .clear, ._5d12 .uiTypeaheadDisabled .selected .clear{display:none}
._5d12 .fbFriendsOnlineFacepileItem a:after{border:1px solid rgba(0, 0, 0, .1);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
._5d12 .fbFriendsOnlineFacepile .fbFriendsOnlineFacepileItem{margin:3px 3px 0 0}
._5d12 ._562v{margin:0 -3px 0 -1px;padding:12px 0}
._5hou{background-color:#fff;border-radius:5px;box-shadow:0 1px 2px rgba(0, 0, 0, .25), 0 0 0 1px rgba(0, 0, 0, .15);color:#6a7180;font-size:10px;height:11px;line-height:10px;padding:0 4px;position:absolute;right:-2px;top:-2px;z-index:1}
._562v ._5hov{background-color:#c4c5c8;color:#fff;display:inline-block;height:32px;line-height:32px;margin-top:3px;text-align:center;text-decoration:none;width:32px}
._5df5{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-192px -195px;height:12px;left:8px;margin-top:-6px;position:absolute;top:50%;width:12px}
._5d12 .inputsearch{background-image:none;padding-left:26px}
._5d12 .uiTypeahead{border:1px solid #d3d6db;box-shadow:0 1px 1px rgba(0, 0, 0, .06) inset;height:24px;line-height:24px;width:277px}
._5d12 .uiTypeahead .wrap{border:0}
._5d12 .DOMControl_placeholder{color:#a9a9a9}
._5d12 .textInput::-webkit-input-placeholder{color:#ddd}
._5d12 .textInput:-moz-placeholder{color:#ddd}
._5d12 .textInput::-moz-placeholder{color:#ddd}
._5d12 .textInput:-ms-input-placeholder{color:#ddd}
._5d12 .typeaheadContainer{margin-bottom:4px}
#chatFriendsOnline._5d12 .fbChatTypeaheadView li{margin-right:0}
.sidebarMode #chatFriendsOnline{display:none}
#chatFriendsOnline .chatGoOnlineLink span{background:url(/rsrc.php/v2/yW/r/AebrcwrBeG6.png) no-repeat right 3px;padding:0 12px 0 2px}
#chatFriendsOnline .chatGoOnlineLink, #chatFriendsOnline .chatGoOnlineLink:hover, #chatFriendsOnline .chatReconnectLink, #chatFriendsOnline .chatReconnectLink:hover{margin:3px 0 0 7px;text-decoration:none}
#chatFriendsOnline .fbChatReconnecting{display:inline-block}
#chatFriendsOnline .chatReconnectLink .img{margin-top:7px;background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-209px -187px;height:13px;width:14px}
#chatFriendsOnline .fbChatOfflineMessage, #chatFriendsOnline .fbChatDisconnectedMessage{padding:0 5px 0 1px}
#chatFriendsOnline.disconnected .fbFriendsOnlineFacepileItem .img{opacity:.3}
#chatFriendsOnline .typeaheadContainer td:first-child{width:100%}
#chatFriendsOnline .sidebarBtn{display:none;margin-left:3px}
.sidebarCapable #chatFriendsOnline .sidebarBtn{display:inline-block}
#chatFriendsOnline .fbChatTypeaheadView li{margin-right:5px;padding-right:3px}
._5alt{margin-top:0}
.ego_image .img{vertical-align:bottom}
.ego_image_tiny .img{height:32px;width:32px}
.ego_image_small .img{height:50px;width:50px}
.ego_image_medium .img{width:80px}
._52gq{float:right;opacity:0}
._52gr{padding-left:6px}
._52gr li{margin-bottom:8px;padding-right:4px}
._52gr #showall, ._52gr .showAll{text-align:center}
._52gr li + li{border-top:1px solid #e9e9e9;padding-top:8px}
._52gr li:hover ._52gq{opacity:1}
._52gs{font-weight:bold;margin-top:1px}
._5eel{display:block;margin-bottom:3px;width:300px}
._5b21 .showAll{text-align:center}
._5bqs{display:block;margin-bottom:10px;text-align:center}
._5cqd{margin-bottom:5px;margin-top:-6px}
._5cqe{margin-bottom:5px}
._5cqf{margin-bottom:8px;padding-left:6px;padding-right:4px}
._5sgz{cursor:inherit;float:right;opacity:0}
._5sgz input{cursor:inherit}
._5lnc{display:block;margin:0 auto 0 auto;padding:40px 0 0 0;text-align:center}
._5ie6{color:#434757;font:bold 24px 'Helvetica Neue', Calibri, Helvetica, Arial;padding:8px 0 40px 0;text-align:center}
._5lbt{padding:3px 0 3px 5px}
._5lbt a{font-weight:bold}
._5i1b{margin-left:3px}
._5i1b img{margin-left:-3px;margin-top:-4px}
._502j div{overflow:hidden}
._502k{padding-right:5px;text-align:right}
.fbReminders .fbRemindersStory{padding:3px 5px}
.fbReminders .fbRemindersIcon{height:16px;width:16px}
.fbReminders .fbRemindersStory .fbRemindersRemove{margin-top:-1px;display:none}
.fbReminders .fbRemindersStory .fbRemindersRemove.openMenu{display:block}
.fbReminders .celebrationStory .fbRemindersRemove{display:block;visibility:hidden}
.fbReminders .celebrationStory:hover .fbRemindersRemove{visibility:visible}
.fbReminders .fbRemindersStory:hover{background-color:#eceff5;cursor:pointer}
.fbReminders .fbRemindersStory:hover a{text-decoration:none}
.fbReminders .fbRemindersStory:hover .fbRemindersRemove, .fbReminders .fbRemindersStory a{display:block}
.fbReminders .fbRemindersStory .fbRemindersTitle{color:#3b5998}
.fbRemindersContent{overflow:hidden}
.fbRemindersContent .fbRemindersFooter{text-align:center}
.fbRemindersContent .fbCalendarList .fbCalendarLabel{width:60px}
.fbRemindersContent .fbCalendarList .fbCalendarItemContent{width:330px}
.fbRemindersContent .fbRemindersPokeBack{white-space:nowrap}
.fbRemindersContent .uiScrollableArea .jewelHeader{background-color:#fff}
.fbRemindersContent .fbRequestList, .fbRemindersContent .jewelHeader, .fbRemindersContent .friendBrowserForm{margin-right:10px}
.fbBirthdayRemindersContent .uiScrollableAreaWithShadow.contentBefore:before{box-shadow:0 1px 2px rgba(0,0,0,0.2);top:-2px}
.fbBirthdayRemindersContent .uiScrollableAreaWithShadow.contentAfter:after{background-color:#fff;box-shadow:0 -1px 2px rgba(0,0,0,0.3);height:6px}
.fbBirthdayRemindersContent .fbRemindersTitleSeeAll{color:#627aad}
.fbBirthdayRemindersContent .fbRemindersSubtitleActionList{color:#adb2bb}
.fbBirthdayRemindersContent .fbRemindersSubtitleAgeText{color:#6a7180}
.fbBirthdayRemindersContent .fbRemindersTodayHeader, .fbBirthdayRemindersContent .fbRemindersSublistHeader{color:gray;font-size:11px}
.fbBirthdayRemindersContent
.fbRemindersBirthdayList
.fbRemindersBirthdayListItem{border-color:#e9eaed}
.fbNamedayRemindersContent
.fbRemindersNamedayList
.fbRemindersNamedayListItem{border-color:#e9eaed}
.fbRemindersLoadingIndicator{display:block;padding:50px;text-align:center}
.fbRemindersStickyArea{background-color:#fff}
.fbEventReminderContent .fbCalendarLineSeparator{display:none}
.fbEventReminderContent li.fbCalendarItem:first-child{padding-top:0}
.fbEventReminderContent li.fbCalendarItem:last-child{padding-bottom:0}
._43ql{border:solid #fff;border-width:1px 0 0 1px;bottom:0;height:5px;position:absolute;right:0;width:5px}
._5d12 ._43ql{border:none;height:8px;width:8px}
.chatOnline ._43ql{background:#84ca5a;background:-moz-linear-gradient(#88cc5f, #7bc64d)}
._5d12 .chatOnline ._43ql{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-198px -161px;z-index:1}
.chatOffline ._43ql, .chatIdle ._43ql, .chatMobile ._43ql{border:none}

#bootloader_8r9VB { height: 42px; }
.bootloader_8r9VB { display:block !important; }