/*!CK:1395068012!*//*1385985442,173203031*/

#mobile_mirror_banner{position:relative;z-index:300}
#pagelet_bookmark_seeall .seeAllSectionHeader{width:100px}
#pagelet_bookmark_seeall .block{vertical-align:middle}
#pagelet_bookmark_seeall #bookmarksSeeAllSection{border-top:1px solid #e9e9e9}
#bookmarksSeeAllSection .favoriteItem .alwaysHidden{display:none}
.fbBookmarksSeeAllList a.itemLink, .fbBookmarksSeeAllList a.itemLinkLitestand, .fbBookmarksSeeAllList a.itemLinkWithPrivacyIcon, .fbBookmarksSeeAllList a.itemLinkLitestandWithPrivacyIcon{display:inline-block;padding-left:0;-moz-user-select:none;vertical-align:middle;width:461px}
.fbBookmarksSeeAllList a.itemLinkWithPrivacyIcon{width:441px}
.fbBookmarksSeeAllList a.itemLinkLitestand{width:680px}
.fbBookmarksSeeAllList a.itemLinkLitestandWithPrivacyIcon{width:665px}
.fbBookmarksSeeAllList a.itemLink:hover{text-decoration:none}
.fbBookmarksSeeAllList a.itemLink .itemLabel{display:inline-block;line-height:15px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;max-width:403px}
.fbBookmarksSeeAllList a.itemLink .uiSideNavCount{vertical-align:top}
.fbBookmarksSeeAllList a.hasTimestamp .itemLabel{max-width:210px}
.fbBookmarksSeeAllList a.itemLink:hover .itemLabel{text-decoration:underline}
.fbBookmarksSeeAllList .bookmarkTimestamp{line-height:15px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;max-width:190px}
.fbBookmarksSeeAllList .itemUnreadProfileImg{height:30px;margin-top:-18px;padding-left:10px;position:relative;top:10px;width:30px}
.fbBookmarksSeeAllList .privacyIcon{margin-left:3px;vertical-align:middle}
._7m2{height:137px;left:0;position:absolute;top:0;width:100%}
._7m3{height:137px;overflow:hidden}
._7lj{height:155px;position:relative;top:-9px;width:370px}
._7m4{background:url(/rsrc.php/v2/yG/r/8RHv8nDQAHL.png) repeat-x left top;bottom:0;height:93px;position:absolute;width:100%}
._7m5{z-index:4}
._7lh{display:none}
html ._53ih ._7lh{display:block;height:155px;position:absolute;top:-9px;width:370px}
._7lh ._7lj{top:0}
._7ld ._7lh ._7li{display:block;left:15px;position:absolute;top:0}
._53ih._7le ._7lh{border-left:1px solid rgba(0, 0, 0, .45);border-top:1px solid rgba(0, 0, 0, .45);height:11px;overflow:hidden;top:0;-moz-transform-origin:0 0;width:11px;z-index:1}
._7le ._7lh ._7lj{-moz-transform-origin:0 0}
._7lf._7le ._7lh ._7lj, ._7lf._7le ._7lh{-moz-transform-origin:100% 0}
.timelineEmailabilityToolbar{background-color:#f2f2f2;border-width:0 1px 1px;border-style:dashed solid;border-color:#b7c1d7 #ccc;position:relative;width:809px}
#pagelet_above_header .timelineEmailabilityToolbar{border-width:0 0 1px;width:auto;margin:-20px -20px 20px}
.emailabilityGridContent{width:100%}
.timelineEmailabilityToolbar .customAddressButton, .timelineEmailabilityToolbar .loadingIndicator{vertical-align:middle}
.timelineEmailabilityToolbar .uiGrid .loadingIndicator{display:inline-block;margin-left:-21px;visibility:hidden}
.timelineEmailabilityToolbar .async_saving .loadingIndicator{visibility:visible}
.timelineEmailabilityToolbar .closeButton{position:absolute;right:20px;top:20px}
.emailabilityContactIcon{margin-right:15px}

#bootloader_LGdMU { height: 42px; }
.bootloader_LGdMU { display:block !important; }