/*!CK:1628545075!*//*1386370180,173213981*/


._24n .body ._24x{color:#333}
._6nw ._24n .body ._24x{color:#4e5665}
._24n .body ._24x:hover{text-decoration:none}
._24n .body a.signature{color:#3b5998;display:inline}
._24n .body a.signature:hover{text-decoration:underline}
._24n .hover:hover .title ._24x{text-decoration:underline}
._24n .forceRTL{direction:rtl;text-align:right;display:block}
._24n .forceLTR{direction:ltr;text-align:left;display:block}
._24n .adInfo a.identity{color:gray;display:block;white-space:nowrap}
._6nw ._24n .adInfo a.identity{color:#898f9c;overflow:hidden;text-overflow:ellipsis}
._24n .title{font-weight:bold;margin-bottom:0 !important}
._24n .image_body_block{padding-top:3px}
._24n .uiUfi{width:auto}
._24n .fbEmuHidePoll .otherdiv .other{width:206px}
._24n .ads_rhc_close{opacity:0}
._24n:hover .old_x, ._24n:hover .uiSelectorButton, ._24n:hover .ads_rhc_close, ._24n .ads_rhc_close.openToggler, .emu_x .openToggler .uiSelectorButton{opacity:1}
.fbEmuHidePoll .undo{float:right;padding-left:2px;padding-bottom:2px;margin-bottom:3px;margin-left:5px}
.fbEmuHidePoll .fbEmuXTitle{font-weight:bold}
.fbEmuHidePoll .fbEmuXSubtitle{margin-bottom:10px}
.fbEmuHideThanks .fbEmuXThanksTitle{font-weight:bold;margin-bottom:10px}
.fbEmuBlock .fbEmuHidePoll .otherdiv{margin-left:20px}
.emu_x{float:right}
.emu_x .uiSelectorButton{opacity:0}
.old_x{opacity:0}
._5fxh{margin:2px 0 4px;position:relative}
._5fxh:hover a{text-decoration:none}
._5fxh:hover .emu_x .uiSelectorButton{opacity:1}
._5fxm{padding-top:3px}
._5fxm ._5fxn{color:#333;font-size:11px;line-height:13px}
._5p3y ._5fxm ._5fxn{font-size:12px}
._5h83{display:block}
._5h83 ._5h84{display:inline;position:relative}
._5h83 ._5h85{color:#777;display:inline;font-size:11px;line-height:13px;position:relative}
._5p3y ._5h83 ._5h85{font-size:12px}
._5fxi{padding-bottom:3px;padding-top:6px;position:relative}
._5hwt{width:100px}
._5hwt .img{max-height:72px;max-width:100px}
._5hwu{width:128px}
._5hwu .img{max-height:72px;max-width:128px}
._5fxi ._5hwv i{background-image:url(/rsrc.php/v2/yN/r/aERK2-5sOBX.png);bottom:6px;height:22px;left:3px;position:absolute;width:27px}
._5hwx{display:table-cell;vertical-align:middle;width:120px}
._5hwx .img{max-height:90px;max-width:120px}
._5fxj ._5fxk{color:#3b5998;font-size:11px;line-height:13px}
._5fxj ._5fxl{color:#999;font-size:11px;inline-height:13px}
._5p3y ._5fxj ._5fxk, ._5p3y ._5fxj ._5fxl{font-size:12px}
.async_throbber .async_saving{background:url(/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat right;padding-right:20px}
.async_throbber_left .async_saving{background:url(/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat left;padding-left:20px}
.text_exposed_root{display:inline}
.text_exposed .text_exposed_show{display:inline}
.text_exposed_show,
.text_exposed .text_exposed_hide{display:none}
.text_exposed_link{padding:0 0 0 .37em;white-space:nowrap}
.text_exposed_link_icon{margin:0 0 -1px 4px}
.text_exposed .text_exposed_link{display:none !important}
.fbChatSidebar .fbChatTypeahead, .fbChatSidebar .fbChatTypeahead .wrap{border:0}
.highContrast .fbChatSidebar .fbChatTypeahead{border:1px solid}
.fbChatSidebar .fbChatTypeahead .textInput{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:left -41px;background-color:#f4f6f9;box-shadow:inset 2px 0 0 -1px #e0e2e9, inset 0 1px #fff;-moz-box-sizing:border-box;color:#555;height:24px;padding-left:20px;padding-right:25px}
.fbChatSidebar.fbSidebarFavoriteList .fbChatTypeahead .textInput{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:left -73px;color:#9296a4}
.fbChatTypeahead .textInput::-ms-clear{height:0;width:0}
.fbChatSidebar .fbChatTypeahead .textInput:focus{background-color:#fff;color:#000}
._4kdq ._504q .fbChatSidebar ._504r{background-image:url(/rsrc.php/v2/yF/r/Y4E4ZxXaDsm.png);background-repeat:no-repeat;background-size:auto;background-position:-56px -401px;cursor:pointer;display:block;height:32px;width:54px}
._4kdq ._504q .fbChatSidebar ._504r:focus, ._4kdq ._504q .fbChatSidebar ._504r:hover{background-image:url(/rsrc.php/v2/yF/r/Y4E4ZxXaDsm.png);background-repeat:no-repeat;background-size:auto;background-position:0 -401px;background-color:#1f2228;outline:none}
._4kdq ._504q .fbChatSidebar .fbChatTypeahead .textInput{display:none}
.rhcFooterWrap{padding-left:6px}
.rhcFooterBorder{border-bottom:1px solid #e9e9e9}
.rhcFooterCopyright{padding:10px 0 4px}
#rhc_footer_selector{vertical-align:top}
.rhcFooterSelectorButton .img{margin:6px 0 0 3px;vertical-align:top}
._8_9.ego_column{width:auto}
._8_9 .ego_section{margin:0}
._8_9 .ego_section .uiSideHeader{padding-bottom:0}
._8_9 .ego_section .ego_unit{margin:0;padding:8px 0}
._8_9 .ego_section .ego_unit ._4u8 .fbEmuMarketplace .uiSelectorMenu{margin-top:-3px}
._8_9.egoOrganicColumn .ego_section .ego_unit:last-child{padding-bottom:12px}
._8_9 .ego_section .adsCategoryIcon{margin-top:-2px}
._8_9 .ego_section .uiHeaderTitle{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._8_9 .ego_unit .action{margin-top:0}
._8_9 .ego_unit .action ._24x{outline:none}
._8_9 .ego_unit .ego_x, ._8_9 .ego_unit .emu_x{margin-right:-11px}
._4tot{margin-left:12px}
._8_9 .action .fbEmuContext{display:inline-block}
._8_9 .ego_unit .action ._24x, ._8_9 .action .fbEmuContext, ._8_9 .action .inlineContext{margin-top:8px}
._8_9 .action .inlineContext .fbEmuContext{margin-top:0}
._8_9 .ego_unit .action .fbEmuContext a, ._8_9 .ego_unit .messageBody, ._8_9 .ego_unit .messageBody a, ._8_9 .ego_unit .uiLinkSubtle, ._8_9 .ego_unit .eventRSVP a, ._8_9 ._a1z, ._8_9 ._a1z a{color:#898f9c}
._8_9 .fbEmuStreamStory .messageBody .whitespaceLink:hover, ._8_9 .fbEmuStreamStory .whitespaceLink:hover .fbEmuStreamOGAction, ._8_9 .fbEmuStreamStory .whitespaceLink:hover .fbEmuLikeMessage{background-color:#fff}
._8_9 ._5g4m{padding:0 4px}
._8_9 ._5g4m img{opacity:.8}
._8_9 .uiStream .uiStreamMessage{margin-bottom:0}
._8_9 .fbEmuStreamStory .fadStoryAttachment, ._8_9 .fbEmuStreamStory .fadStoryFooter{margin-top:8px}
._8_9 .fbEmuXThanksBody a{font-weight:bold}
._8_9 .ego_unit .uiStreamPassive a, ._8_9 .ego_unit .egoProfileTemplate .ego_title, ._8_9 .ego_unit .eventTitle, ._8_9 .ego_unit .fbEmuMainBody a, ._8_9 .ego_unit .fbEmuStreamStory .uiBlingBox .text{color:#232b37}
._8_9 .ego_unit .action .fbEmuContext a{display:inline;font-weight:bold}
._8_9 .ego_unit .lfloat{margin-right:10px}
._8_9 .ego_unit .lfloat > .img{padding-top:0}
._8_9 .ego_unit .image_body_block, ._8_9 .ego_unit .fbEmuContext, ._8_9 .ego_unit_container{line-height:16px;padding:0}
._8_9 .ego_section .ego_unit:first-child, ._8_9.egoOrganicColumn .ego_section .ego_unit:first-child{padding-top:10px}
._8_9 .ego_unit .uiStream .uiStreamMessage{font-size:12px}
._8_9 .ego_unit .uiStarsRatable{margin-top:5px}
._8_9 .egoPlaceComboInput .uiTypeaheadSpan{padding:0}
._8_9.egoOrganicColumn .ego_section .ego_unit{border-top:0;padding:6px 0}
._8_9 .uiStream .uiStreamPassive{color:#4e5665;font-size:12px}
._8_9 .uiStream .uiStreamPassive a{font-weight:bold;text-decoration:none}
.ego_x{float:right;opacity:0}
.ego_unit:hover .ego_x{opacity:1}
.ego_title{display:block;font-weight:bold;line-height:13px;max-width:162px;word-wrap:break-word}
.ego_page .UIStandardFrame_Container{padding-left:0;width:980px}
.ego_page .UIStandardFrame_Content{width:720px}
.ego_page .UIStandardFrame_SidebarAds{width:auto}
.ego_column{width:244px}
.ego_section{margin-bottom:15px}
.ego_section .async_saving a{display:none}
.ego_section .indicator{display:none}
.ego_section .async_saving .indicator{display:inline}
.ego_section .adsCategoryIcon{vertical-align:-1px}
.ego_section .uiHeaderTitle{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.adsCategoryTitleLink{color:#666}
div.egoProfileTemplate div{margin-top:2px;line-height:13px}
div.ego_unit_container div.clickable{cursor:hand;cursor:pointer}
div.egoProfileTemplateSubtitle{color:gray}
.draggingMode{-moz-user-select:none}
.photocrop .bg, .photocrop .guard, .photocrop .wrapper, .photocrop .wrapper *{position:absolute}
.photocrop .bg{background:#000;opacity:.6}
.photocrop .guard{height:100%;left:0;top:0;width:100%}
.photocrop .highlight{left:0;top:0}
.photocrop .viewport{cursor:move}
.photocrop .viewport div{background-color:#d8dfea;height:10px;opacity:.5;width:10px}
.photocrop .viewport .nw{cursor:nw-resize;left:-5px;top:-5px;z-index:3}
.photocrop .viewport .ne{cursor:ne-resize;right:-5px;top:-5px;z-index:3}
.photocrop .viewport .se{cursor:se-resize;bottom:-5px;right:-5px;z-index:3}
.photocrop .viewport .sw{cursor:sw-resize;bottom:-5px;left:-5px;z-index:3}
._agk{margin-right:3px;vertical-align:-2.9px}
.fbTimelineFeedbackActions{background-color:#edeff4;padding:5px 12px}
.fbTimelineMiniUFI .fbTimelineFeedbackActions{background:transparent;padding:0}
.fbTimelineFeedbackHeader form{display:inline}
.fbTimelineUFI .UIActionLinks_bottom a, .fbTimelineUFI .fbTimelineFeedbackActions input, .fbTimelineUFI .UIActionLinks .uiLinkButton, .fbTimelineUFI .UIActionLinks .uiLinkButton input, .fbTimelineUFI div.fbTimelineFeedbackActions input:hover, .fbTimelineUFI .fbTimelineFeedbackActions button.as_link{color:#3b5998}
.fbTimelineFeedbackHeader .uiBlingBox, .fbTimelineFeedbackHeader .uiBlingBox:hover{border-style:none;height:13px;padding:0}
.fbTimelineFeedbackHeader .uiBlingBox .text{vertical-align:baseline}
.fbTimelineFeedbackComments a:hover, .fbTimelineFeedbackLikes a:hover, .fbTimelineFeedbackShares a:hover{text-decoration:none}
.fbTimelineFeedbackComments a, .fbTimelineFeedbackLikes a, .fbTimelineFeedbackShares a{padding-left:18px;position:relative}
.fbTimelineFeedbackComments i, .fbTimelineFeedbackLikes i, .fbTimelineFeedbackShares i{display:block;left:0;position:absolute;top:-1px;width:14px}
.fbTimelineFeedbackLikes i{background-image:url(/rsrc.php/v2/yh/r/1qbc5VDqi8K.png);background-repeat:no-repeat;background-size:auto;background-position:-118px -312px;height:13px}
.fbTimelineFeedbackComments i{background-image:url(/rsrc.php/v2/yh/r/1qbc5VDqi8K.png);background-repeat:no-repeat;background-size:auto;background-position:-260px -288px;height:15px}
.fbTimelineFeedbackShares i{background-image:url(/rsrc.php/v2/yh/r/1qbc5VDqi8K.png);background-repeat:no-repeat;background-size:auto;background-position:-242px -288px;height:16px}
._561s{line-height:13px;margin-top:2px}
._53ee{margin-top:-5px}
._53ee._5vlm{border-bottom:1px solid #e9e9e9}
._6nw ._53ee{margin-top:0}
html ._58op{padding:0 4px}
html ._5h3q{margin-left:10px;margin-top:4px;padding:2px 4px}
._54bc{display:inline-block}
html ._5ba_ ._54bc{padding-right:40px;padding-top:8px}
html ._5ba_ ._58op{margin-top:3px}
html ._5ba_._5h3r ._54bc{padding-right:0}
._6nw ._5ba_._5h3r ._54bc{padding-right:40px}
._5cl-{overflow:hidden}
html ._54bc .img{margin-left:5px;position:relative;top:-1px;vertical-align:middle}
._569r ._54bc{visibility:hidden}
._569r:hover ._54bc{visibility:visible}
.fbTimelineUFI{background:#fff;position:relative}
html .timelineUnitContainer .fbTimelineUFI{margin-bottom:-12px}
html .timelineUnitContainer .fbTimelineUFIEmpty{margin-top:-3px}
.fbTimelineUFI .fbUfi{padding:0;width:100%}
.fbTimelineUFI .uiUfi .ufiItem{border:0;padding:5px 12px}
.fbTimelineFeedbackLikes,
.fbTimelineFeedbackComments,
.fbTimelineFeedbackShares{float:right;margin-left:5px}
.fbTimelineOneColumn .fbTimelineUFI .uiUfiComment .commentContent{width:600px}
.fbTimelineMiniUFI{margin:0 0 -2px}
.fbTimelineMiniUFI .miniActionList{display:inline-block}
.fbTimelineMiniUFI .uiLoadingIndicatorAsync{margin:0 0 -2px 6px}
.timelineUnitContainer{position:relative}
.timelineUnitContainer .uiCommentContainer{margin-bottom:-12px;margin-left:-12px;padding-top:3px;width:403px}
.fbTimelineOneColumn .uiCommentContainer{width:843px}
.timelineUnitContainer .aboveUnitContent{margin-bottom:15px}
.timelineUnitContainer .belowUnitContent{margin-top:15px}
.timelineUnitContainer .timelineUnitUndoLink{display:inline-block}
.timelineUnitContainer .timelineUnitUndoActionLink{margin-top:5px}
.timelineUnitContainer .timelineUnitUndoActionLink{margin-top:5px}
.timelineUnitContainer .timelineUndoUnitActionList{margin-top:4px;padding-left:12px;list-style-type:disc;list-style-position:outside;color:gray}
.timelineUnitContainer .timelineUndoUnitActionList
.timelineUndoUnitActionListItem{border-style:none;padding-bottom:2px;padding-top:2px}
.timelineUnitContainer .timelineSpamStub{background-color:#f6f7f9;border:1px solid #d3dae8;padding:10px}
.timelineUnitContainer .timelineSpamContent{display:none}
.fbTimelineFeedbackStub.uiCommentContainer{margin-top:12px}
._5rny ._5rnz{background-color:#fff;border-color:#dee2e9 #dbdee5 #d2d5dc #dee2e9;border-style:solid;border-width:0 1px 1px;box-shadow:0 1px 3px -1px rgba(0, 0, 0, .15);margin:-12px 0 12px}
._4lh ._1xw{box-shadow:0 1px 3px -1px rgba(0, 0, 0, .15)}
._4lh ._5r19{box-shadow:none}
._4lh ._1xw, ._4lh ._1xy{border:0}
._1xw{background:#f6f7f9;border:1px solid #d3dae8;display:block;margin-bottom:12px}
._5r19{background:#fff}
._1xw:hover, a._1xx:hover{text-decoration:none}
._1xx{display:block;vertical-align:top;zoom:1}
._1xy{border-right:1px solid #d3dae8;float:left;height:116px;line-height:110px;margin-right:11px;min-width:72px;position:relative;text-align:center}
._1xy .img{vertical-align:middle}
._4lh ._1xy{margin-right:12px}
._4lh ._1xy:after{border:1px solid rgba(0, 0, 0, .15);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
._1xz{padding:8px 11px}
._1x-{max-height:98px;overflow:hidden}
.fbTimelineCapsule > .fbTimelineTwoColumn ._1y0 ._1xz, .fbTimelineCapsule > .fbTimelineTwoColumn ._1y0 ._1x-, ._5sem ._1y0 ._1xz, ._5sem ._1y0 ._1x-{height:98px}
.fbTimelineCapsule > .fbTimelineTwoColumn ._1y0._5r19 ._1xz, .fbTimelineCapsule > .fbTimelineTwoColumn ._1y0._5r19 ._1x-, .fbTimelineTwoColumn ._5qjs ._1xz, .fbTimelineTwoColumn ._5qjs ._1x-{height:auto}
._4lh ._1y0 ._1x-{height:85px}
._4lh ._5r19._1y0 ._1x-{height:auto}
._4lh ._1xz{background:#fff;border:1px solid #dee2e9;border-bottom-color:#d2d5dc;border-right-color:#dbdee5;height:90px;padding:12px}
._4lh ._5r19 ._1xz{border:0;height:auto}
._4lh ._1xw:hover ._1xz{border-color:#e2e2e2 #dadada #ccc;box-shadow:0 1px 6px -1px #ccc}
._4lh ._5r19:hover ._1xz{box-shadow:none}
body.Locale_zh_CN ._1x-, body.Locale_zh_HK ._1x-, body.Locale_zh_TW ._1x-{max-height:91px}
.fbTimelineOneColumn ._1x-{width:795px}
.fbTimelineOneColumn ._1y0 ._1x-{width:639px}
._1y1{margin-top:14px}
.timelineUnitContainer ._1y2 .exploded{border:none;margin:0 -12px}
.fbTimelineOneColumn .timelineUnitContainer ._1y2 .exploded{width:843px}
._4lh .timelineUnitContainer ._1y2 .exploded{background:transparent;border:none;margin:0 0 0 0;width:486px}
.timelineUnitContainer ._1y2 ._1y3{background:#f2f2f2 no-repeat 50% 50%;display:block;height:214px;margin:-15px 0 12px 0;position:relative;width:379px}
.fbTimelineOneColumn .timelineUnitContainer ._1y2 ._1y3{height:461px;width:819px}
.timelineUnitContainer ._1y2 .exploded .iframeEmbed, .timelineUnitContainer ._1y2 .exploded .swfObject{margin:0 auto}
._1xv{min-width:99px}
._1y4{background:url(/rsrc.php/v2/yG/r/Gj2ad6O09TZ.png) no-repeat 0 0;height:26px;left:50%;margin:-13px 0 0 -17px;position:absolute;top:50%;width:35px}
._1xu ._1y4{background:#fff url(/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat 50% 50%;height:100%;left:17px;opacity:.7;position:absolute;top:13px;width:100%}
._5qre{background:transparent;border:0}
._5r1a{width:100%}
._4lh ._5r1a{border:1px solid #dee2e9;border-bottom-color:#d2d5dc;border-right-color:#dbdee5}
._4lh ._5r19:hover ._5r1a{border-color:#e2e2e2 #dadada #ccc;box-shadow:0 1px 6px -1px #ccc}
._5r1a ._5r1b{background:transparent;border-radius:2px;margin:8px 10px 7px 5px}
._5r1b{margin-right:10px}
._5r1c{background:#000;position:relative}
._5r1c .img{display:block;width:100%}
._5r1c ._5r1d{background:rgba(0, 0, 0, .5);border:1px solid #fff;border-radius:2px;color:#fff;display:none;left:50%;margin-left:-39px;margin-top:-12px;position:absolute;top:50%}
._5r1c:hover ._5r1d{display:block}
._5r1c:hover .img{opacity:.75}
._5r1c ._5r1d:active{background:rgba(50, 50, 50, .8)}
._5r1c ._5r1d.async_saving{background:rgba(0, 0, 0, .5)}
._5r19 ._1y1{color:#333;font-weight:bold}
.sp_3yj0be{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}
.sx_aaca9c{width:11px;height:11px;background-position:-4px -113px}
.sx_f96868{width:26px;height:24px;background-position:-200px -105px}
.sx_aa7f01{width:26px;height:24px;background-position:0 -219px}
.sx_cd7c83{width:26px;height:24px;background-position:-27px -219px}
.sx_9e79f9{width:10px;height:10px;background-position:-220px -220px}
.sx_e44eea{width:20px;height:24px;background-position:0 -41px}
.sx_6055ca{width:20px;height:24px;background-position:0 -73px}
.sx_bd416d{width:14px;height:13px;background-position:-209px -187px}
.sx_5d8850{width:6px;height:9px;background-position:-222px -143px}
.sx_f40f8b{width:18px;height:18px;background-position:-143px -161px}
.sx_e32d52{width:18px;height:18px;background-position:-162px -161px}
.sx_255c6a{width:16px;height:10px;background-position:-181px -161px}
.sx_fe9512{width:8px;height:8px;background-position:-198px -161px}
.sx_5b7fae{background-position:-192px -195px}
.sx_0cca2c{background-position:-143px -196px}
.sx_4d9e9e{background-position:-169px -196px}
.sx_dc8d76{background-position:-209px -201px}
.sx_2f36b7{width:8px;height:10px;background-position:-222px -203px}
.sx_5f4e8e{height:13px;background-position:-70px -197px}
.sx_50838e{height:13px;background-position:-94px -197px}
.sx_257147{height:13px;background-position:-118px -197px}
.sx_c18cbb{background-position:-54px -219px}
.sx_3b2d87{width:8px;height:10px;background-position:-222px -132px}
.sx_01ff25{background-position:-10px -197px}
.sx_788666{background-position:-42px -197px}
.sx_de700d{width:78px;height:28px;background-position:0 -132px}
.sx_09d8d8{width:63px;height:23px;background-position:-158px -132px}
.sx_84cca6{width:78px;height:28px;background-position:-79px -132px}
.sx_44f045{width:63px;height:20px;background-position:-79px -161px}
.sx_069f5e{width:78px;height:25px;background-position:0 -161px}
.sx_95ad12{width:230px;height:32px;background-position:0 0}
.sp_a13o6m{background-image:url(/rsrc.php/v2/yM/r/1HqyLuL51Ly.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:32px;width:32px}
.sx_697373{width:11px;height:11px;background-position:-17px -253px}
.sx_d129f5{width:16px;height:17px;background-position:0 -211px}
.sx_2a848b{width:16px;height:16px;background-position:0 -229px}
.sx_fae843{width:12px;height:11px;background-position:-19px -198px}
.sx_80b8b0{background-position:0 0}
.sx_e11f14{width:9px;height:12px;background-position:-9px -198px}
.selected .sx_e11f14{background-position:0 -198px}
.sx_92ea07{width:8px;height:12px;background-position:-8px -246px}
.selected .sx_92ea07{background-position:0 -246px}
.sx_b2446c{background-position:0 -33px}
.sx_059b5d{background-position:0 -66px}
.sx_b687ec{background-position:0 -99px}
.sx_fcbf4c{background-position:0 -132px}
.sx_c395b5{background-position:0 -165px}
.sx_555350{width:9px;height:13px;background-position:-17px -211px}
.sx_cadc0f{width:9px;height:13px;background-position:-17px -225px}
.sx_e608a6{width:9px;height:13px;background-position:-17px -239px}
.sx_770c84{width:8px;height:8px;background-position:-8px -259px}
.selected .sx_770c84{background-position:0 -259px}
.uiStreamStory .uiPhotoThumb img{max-width:121px}
.uiStreamStory .largePhoto img{max-width:300px}
._5pan{margin-left:18px}
._5pc6{display:none;text-align:center}
._5pc7, ._5pc7:hover{display:block;text-decoration:none}
.async_saving ._5pc6{display:block}
.async_saving ._5pc7{display:none}
.uiStreamLargeHeadline .uiStreamStory .uiStreamHeadline{font-size:13px;line-height:1.38}
.uiStreamLargeHeadline .uiStreamStory .ministoryMessage{font-size:11px;line-height:1.28}
.shareRedesign.largeMedia .shareRedesignContainer .shareMediaPhoto,
.shareRedesign.largeMedia .shareRedesignContainer .shareMediaVideo{height:154px;width:154px}
.shareRedesign.largeMedia .shareRedesignContainer .shareMediaVideo .img{max-height:154px;max-width:154px}
.shareRedesign.largeMedia .shareRedesignContainer .attachmentText{max-height:134px}
.shareRedesign.largeMedia .shareRedesignContainer .shareText{max-height:154px;padding-bottom:7px}
.shareRedesign.largeMedia .shareRedesignContainer .uiAttachmentDesc,
.shareRedesign.fullWidthMedia .shareRedesignContainer .uiAttachmentDesc{margin-top:7px}
.shareRedesign.fullWidthMedia .shareRedesignContainer .shareMediaPhoto{height:208px;width:100%}
.shareRedesign.fullWidthMedia .shareRedesignContainer .shareMediaVideo .img{max-height:208px;max-width:100%}
.shareRedesign.fullWidthMedia.substory .shareRedesignContainer .shareMediaPhoto{height:187px;width:100%}
.shareRedesign.fullWidthMedia .shareRedesignContainer .attachmentText{max-height:76px}
.shareRedesign.fullWidthMedia .shareRedesignContainer .shareText{max-height:106px;min-height:initial;padding-bottom:7px}
.shareRedesign{position:relative;width:398px}
.uiStreamSubstory .shareRedesign{width:358px}
html .tickerDialogContent .shareRedesign{width:281px}
.shareRedesign .exploded .shareText, .shareRedesignText:before, .shareRedesign .shareRedesignContainer:before{border-left:1px solid rgba(0, 0, 0, .08)}
.shareRedesign .shareRedesignMedia:after, .shareRedesign .exploded .shareText, .shareRedesignRightBorder{border-right:1px solid rgba(0, 0, 0, .08)}
.shareRedesignTopBorder, .shareRedesignBottomBorder{border-top:1px solid rgba(0, 0, 0, .08);left:1px;position:absolute;right:1px;top:0}
.shareRedesignBottomBorder, .shareRedesignText:before, .shareRedesign .shareRedesignContainer:before, .shareRedesignRightBorder{bottom:0;position:absolute;right:0;top:0}
.shareRedesignBottomBorder{top:auto}
.shareRedesign .exploded + .shareRedesignTopBorder, .shareRedesign .exploded + .shareRedesignTopBorder + .shareRedesignRightBorder{display:none}
.shareRedesignText:before, .shareRedesign .shareRedesignContainer:before{content:'';left:0;right:auto;z-index:1}
.shareRedesign .shareRedesignContainer.exploded:before{display:none}
.shareRedesign .exploded .iframeEmbed, .shareRedesign .exploded .swfObject{display:block;float:none;margin-bottom:0}
.shareRedesign .shareMediaVideo{text-align:center}
.shareRedesign .shareMediaLink, .shareRedesign .shareMediaVideo, .shareRedesign .shareMediaVideo .img, .shareRedesign .exploded iframe{display:block}
.shareRedesign .exploded .shareRedesignVideo, .shareRedesign .exploded{border:0}
.shareRedesign .exploded .shareText{margin-top:-1px;padding-top:10px}
.shareRedesign .uiAttachmentTitle{color:#3b5998}
.shareRedesign .uiAttachmentTitle:hover{text-decoration:underline}
.shareRedesign .uiAttachmentDescTruncated{max-height:28px;overflow:hidden}
.shareRedesign .shareRedesignMedia{margin-right:0;position:relative}
.shareRedesign .shareRedesignMedia:after{bottom:1px;content:'';position:absolute;right:0;top:1px}
.shareRedesign .exploded .shareRedesignMedia:after{display:none}
.shareRedesign .shareMediaPhoto{background-position:50% 50%;background-repeat:no-repeat;display:block;height:90px;width:90px}
.shareRedesign .shareText{cursor:pointer;display:block;padding-top:8px;text-decoration:none}
.shareRedesign .shareText.shareTextContainsHTML{cursor:default}
.shareRedesign .exploded .shareText{min-height:initial}
.shareRedesignContainer .shareText{min-height:72px}
.shareRedesignText, .shareRedesignContainer, .shareRedesign .shareMediaVideo{background-color:#f7f7f7}
.shareRedesign .attachmentText{max-height:72px;overflow:hidden}
.shareRedesign .attachmentText.smallHeightText{max-height:70px}
.shareRedesign .uiAttachmentDesc{margin-top:3px}
.shareRedesign .uiStreamActionFooter{margin-top:8px}
.uiStream .uiStreamMessage{color:#000;font-size:11px;font-weight:normal;margin:0 0 5px 0}
.uiStream .uiStreamHeadline{margin-bottom:0;outline:none}
.uiStreamHeadline .uiLikePage{float:right;margin:0 -15px 0 15px}
.uiStreamHeadline .uiJoinGroupButton{margin:-5px 30px 0 0}
.uiLikePage.newChevronButton{margin-right:-10px}
.uiStreamHeadlineWithLikeButton{min-height:31px}
.uiStream .uiStreamPassive{margin-bottom:5px}
.Locale_zh_CN .uiStream .uiStreamMessage, .Locale_zh_TW .uiStream .uiStreamMessage, .Locale_zh_HK .uiStream .uiStreamMessage{font-size:13px}
.Locale_ja_JP .uiStream .uiStreamMessage{font-size:12px}
.uiStreamMessage, .uiAttachmentTitle, .uiAttachmentDesc{word-break:break-word;word-wrap:break-word}
.uiStreamMessage .actorDescription{margin-bottom:3px}
.uiStreamMessage .suggestionBio .actorDescription{padding-bottom:0}
.uiStreamMessage .suggestionBio{width:410px}
div.uiAttachmentTitle{color:#333}
.permalink_stream{position:relative}
.uiStreamStory .mainWrapper{margin:0 35px 14px 0;padding-top:14px}
.uiStreamStory .actorPhoto{margin-bottom:14px;margin-top:14px}
.uiStreamStory .storyContent .storyInnerContent{margin-left:60px}
.uiStreamStory .uiStreamSubstory .storyInnerContentSmallPic{margin-left:40px}
.uiStream .uiStreamHide{margin-top:18px;position:absolute;right:0;top:0}
.uiStream .substoryHideSelector{float:right;margin:-2px 0 0 0}
.holdoutAdStory{display:none}
.holdoutAdStory:first-child + .uiStreamStory{border-top:none}
.uiStreamStory{padding:0;position:static}
.homeWiderContent .uiStreamStory{margin-left:-18px;padding-left:18px}
.uiStream .uiStreamHide .uiSelectorButton, .uiStream a.uiCloseButton.uiStreamHide, .uiStream .uiStreamStory:hover .uiStreamSubstory .uiStreamHide .uiSelectorButton{left:-9999px;position:absolute}
.uiStream .uiStreamStory:hover .uiStreamHide .uiSelectorButton, .uiStream .uiStreamStory:hover a.uiCloseButton.uiStreamHide, .uiStream .uiStreamStory .uiStreamSubstory:hover .uiStreamHide .uiSelectorButton, .uiStream .uiStreamStory .uiStreamHide .openToggler .uiSelectorButton, .uiStream .uiStreamStory:hover .uiStreamSubstory .uiStreamHide .openToggler .uiSelectorButton{left:auto}
.uiStream a.uiCloseButton.uiStreamHide.alwaysShowHideButton, .uiStream .uiSelectorButton:focus{left:auto !important}
.uiStream a.uiCloseButton.uiStreamHide.alwaysShowHideButton.xButtonInTab{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-143px -161px;height:19px;margin-top:-1px;width:18px}
.uiStream a.uiCloseButton.uiStreamHide.alwaysShowHideButton.xButtonInTab:hover{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-162px -161px}
.uiStreamStory:first-child a.uiCloseButton.uiStreamHide.alwaysShowHideButton.xButtonInTab, .uiStreamStory:first-child a.uiCloseButton.uiStreamHide.alwaysShowHideButton.xButtonInTab:hover{margin-top:0}
.uiStreamHide .uiStreamContextButton, .uiStreamStory:hover .uiStreamSubstory .uiStreamHide .uiStreamContextButton{left:-9999px;position:absolute}
.uiStreamStory:hover .uiStreamHide .uiStreamContextButton, .uiStreamStory .uiStreamSubstory:hover .uiStreamHide .uiStreamContextButton, .uiStreamStory .uiStreamHide.openToggler .uiStreamContextButton, .uiStreamStory:hover .uiStreamSubstory .uiStreamHide.openToggler .uiStreamContextButton{left:auto}
.uiStreamStory .uiStreamContextButton:focus{left:auto !important}
.uiStream .uiAttachmentDesc, .uiStream .uiStreamPassive, .uiStream .uiStreamRobotextBeforeMessage, .uiStream .uiAdminAttribution{color:gray}
.uiStream .tagIcon{vertical-align:bottom}
.uiStream .text_exposed_link{display:block;font-size:11px;padding-left:0;padding-top:4px}
.storyContent{padding-bottom:2px;position:relative}
.uiStream .uiStreamStoryHide .storyContent{display:none}
.uiStream .uiStreamStoryHidden{display:none}
.uiStreamAttachments .external.photoLink{overflow:hidden;position:relative}
.uiStreamAttachments .external .linkOverlay{background:url(/rsrc.php/v2/yj/r/QijIVO3ZIrO.png) repeat-x 0 0;bottom:0;color:#fff;height:36px;left:0;position:absolute;right:0}
.uiStreamAttachments .external .shareIcon{bottom:5px;height:16px;position:absolute;right:5px;width:16px}
.uiStreamAttachments .profilePhotoAttachment, .uiStreamAttachments .external img{max-height:90px;max-width:90px}
.uiStreamAttachments.streamAttachmentWidePhoto .external img{max-height:210px;max-width:210px}
.uiStream .uiAttachmentDetails{color:#333}
.uiAttachmentInline .uiAttachmentTitle, .uiAttachmentInline .uiAttachmentDesc{display:inline}
.uiStreamMessage .actorName, .uiStreamMessage .passiveName{font-weight:bold}
.uiStreamMessage .wallArrowIcon{background-image:url(/rsrc.php/v2/y2/r/PRAdOg0pUA_.png);background-repeat:no-repeat;background-size:auto;background-position:-200px -101px;height:9px;margin:0 5px;width:11px}
.uiAttachmentNoMedia{border-left:2px solid #ccc}
.uiAttachmentMedia{float:left}
.uiAttachmentMediaFiles{outline:none;width:100%}
.uiStreamAttachments .text_exposed .truncatedMediaInfo{clear:both;display:block;padding-left:0;width:auto}
.uiStreamAttachments .truncatedMediaItem{display:none}
.uiStreamAttachments .text_exposed .truncatedMediaItem{display:block}
.uiStreamAttachments .truncatedMediaInfo{display:table;zoom:1}
.uiStreamCollapsed{border-top:1px solid #eee}
.uiStreamSubstories li.showAll{line-height:15px;padding:0}
.uiStreamSubstories li.showAll a{color:#6d84b4;display:block;padding:8px 0 0}
.uiStreamSubstories .uiUfi{width:350px}
.uiStream .uiStreamSeparator{background-color:#e9e9e9;border:0;height:7px;margin:6px 0;padding:0;text-align:center}
.uiStream .uiStreamSeparatorText{background-color:#fff;padding:0 5px;position:relative;top:-4px}
.uiStream .suppressBorder{border-top:0}
.uiStreamEdgeStoryLineTx{background-color:#fff;color:#ccc;left:32px;padding:0 8px;position:relative;top:-20px}
.uiStreamEdgeStoryLine hr{background:#e5e5e5;margin:8px 0 10px 0}
.uiStreamEdgeStoryLineWithLabel{height:23px;padding-top:1px}
.uiStreamFooter, .uiStreamSource, .uiStreamSource a, .uiStreamSource .uiLinkSubtle, .uiStreamFooter .uiStreamSource a, .uiStreamFooter .uiStreamSource .uiLinkSubtle, .uiStreamAdditionalLogging, .uiStreamSponsoredLink, .uiStreamPrivacyContainer{color:#999}
.uiStreamNub{border-bottom:1px solid #c2cbe1;margin-top:2px}
html .uiStreamFooter{display:table-cell}
.uiStreamFooter{width:10000px}
.uiStreamHomepage .uiStreamStory:first-child{margin-top:-6px}
.uiStreamHomepage .uiStreamStory:first-child .actorPhoto{margin-top:18px}
.uiStreamHomepage .uiStreamStory:first-child .mainWrapper{padding-top:18px}
.uiStreamActionFooter .UIActionLinks_bottom a{color:#3b5998}
.uiStream .uiStreamStory .highlightSelector{margin:-2px 10px 0 0}
.uiStream .uiStreamStory .substoryHideSelector{margin:-2px 0 0}
.permalink_stream .highlightSelector .uiSelectorMenuWrapper, .uiStream .uiStreamStory .highlightSelector .uiSelectorMenuWrapper{margin:-3px 1px 0 0}
.permalink_stream .fbStreamPermalinkHeader .highlightSelector{float:right;margin-right:0;margin-top:0}
.permalink_stream .highlightSelector .highlightSelectorButton{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-79px -161px;border:0;box-shadow:none;display:inline-block;height:21px;line-height:21px;overflow:hidden;padding:0;text-indent:50px;width:21px}
.permalink_stream .bigHideButton .highlightSelectorButton{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:0 -161px}
.uiStream .uiStreamStory .highlightSelector .uiSelectorButton, .uiStream .highlightSelector .highlightSelectorButton{background-image:url(/rsrc.php/v2/yh/r/1qbc5VDqi8K.png);background-repeat:no-repeat;background-size:auto;background-position:0 -288px}
.uiStream .bigHideButton .highlightSelectorButton{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:0 -132px}
.highlightEditSelectorButton{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-158px -132px}
.bigHideButton .highlightEditSelectorButton{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-79px -132px}
.uiStream .uiStreamStory .highlightSelector .uiSelectorButton, .uiStream .highlightSelector .highlightSelectorButton, .highlightEditSelectorButton{border:0;box-shadow:none;display:inline-block;height:24px;line-height:24px;overflow:hidden;padding:0;text-indent:50px;width:21px}
.permalink_stream .highlightSelector .highlightSelectorButton, .permalink_stream .highlightSelector .highlightSelectorButton:active, .permalink_stream .highlightSelector .highlightSelectorButton:focus, .permalink_stream .highlightSelector .highlightSelectorButton:hover{background-color:transparent;border:0;height:21px;padding:0;width:21px}
.permalink_stream .bigHideButton .highlightSelectorButton, .permalink_stream .bigHideButton .highlightSelectorButton:active, .permalink_stream .bigHideButton .highlightSelectorButton:focus, .permalink_stream .bigHideButton .highlightSelectorButton:hover{height:25px;width:26px}
.uiStream .uiStreamStory .highlightSelector .uiSelectorButton, .uiStream .uiStreamStory .highlightSelector .uiSelectorButton:active, .uiStream .uiStreamStory .highlightSelector .uiSelectorButton:focus, .uiStream .uiStreamStory .highlightSelector .uiSelectorButton:hover, .uiStream .highlightSelector .highlightSelectorButton, .uiStream .highlightSelector .highlightSelectorButton:active, .uiStream .highlightSelector .highlightSelectorButton:focus, .uiStream .highlightSelector .highlightSelectorButton:hover, .highlightSelector .highlightEditSelectorButton{background-color:transparent;border:0;height:24px;padding:0;width:21px}
.uiStream .uiStreamStory .bigHideButton .uiSelectorButton, .uiStream .uiStreamStory .bigHideButton .uiSelectorButton:active, .uiStream .uiStreamStory .bigHideButton .uiSelectorButton:focus, .uiStream .uiStreamStory .bigHideButton .uiSelectorButton:hover, .uiStream .bigHideButton .highlightSelectorButton, .uiStream .bigHideButton .highlightSelectorButton:active, .uiStream .bigHideButton .highlightSelectorButton:focus, .uiStream .bigHideButton .highlightSelectorButton:hover, .bigHideButton .highlightEditSelectorButton{height:28px;width:26px}
.permalink_stream .highlightSelector .highlightSelectorButton:hover{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-100px -161px;border:0;padding:0}
.permalink_stream .bigHideButton .highlightSelectorButton:hover{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-26px -161px}
.uiStream .uiStreamStory .highlightSelector .uiSelectorButton:hover, .highlightSelector .highlightSelectorButton:hover{background-image:url(/rsrc.php/v2/yh/r/1qbc5VDqi8K.png);background-repeat:no-repeat;background-size:auto;background-position:-21px -288px;border:0;padding:0}
.uiStream .uiStreamStory .bigHideButton .uiSelectorButton:hover, .bigHideButton .highlightSelectorButton:hover{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-26px -132px}
.highlightSelector .highlightEditSelectorButton:hover{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-179px -132px;border:0;padding:0}
.bigHideButton .highlightEditSelectorButton:hover{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-105px -132px}
.permalink_stream .highlightSelector .openToggler .highlightSelectorButton, .permalink_stream .highlightSelector.openToggler .highlightSelectorButton, .permalink_stream .highlightSelector .openToggler .highlightSelectorButton:hover{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-121px -161px;background-color:transparent;border:0;height:21px;padding:0;width:21px}
.permalink_stream .bigHideButton .openToggler .highlightSelectorButton, .permalink_stream .bigHideButton.openToggler .highlightSelectorButton, .permalink_stream .bigHideButton .openToggler .highlightSelectorButton:hover{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-52px -161px;height:25px;width:26px}
.uiStream .uiStreamStory .highlightSelector .openToggler .uiSelectorButton, .uiStream .uiStreamStory .highlightSelector .openToggler .uiSelectorButton:hover, .highlightSelector .openToggler .highlightSelectorButton, .highlightSelector.openToggler .highlightSelectorButton, .permalink_stream .highlightSelector .openToggler .highlightEditSelectorButton:hover, .highlightSelector .openToggler .highlightEditSelectorButton, .highlightSelector.openToggler .highlightEditSelectorButton{background-image:url(/rsrc.php/v2/yh/r/1qbc5VDqi8K.png);background-repeat:no-repeat;background-size:auto;background-position:-42px -288px;background-color:transparent;border:0;height:24px;padding:0;width:21px}
.uiStream .uiStreamStory .bigHideButton .openToggler .uiSelectorButton, .uiStream .uiStreamStory .bigHideButton .openToggler .uiSelectorButton:hover, .bigHideButton .openToggler .highlightSelectorButton, .bigHideButton.openToggler .highlightSelectorButton, .permalink_stream .bigHideButton .openToggler .highlightEditSelectorButton:hover, .bigHideButton .openToggler .highlightEditSelectorButton, .openToggler.bigHideButton .highlightEditSelectorButton{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-52px -132px;height:28px;width:26px}
.highlightSelector .openToggler .highlightEditSelectorButton, .highlightSelector.openToggler .highlightEditSelectorButton, .permalink_stream .highlightSelector .openToggler .highlightEditSelectorButton:hover{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-200px -132px}
.bigHideButton .openToggler .highlightEditSelectorButton, .bigHideButton.openToggler .highlightEditSelectorButton, .permalink_stream .bigHideButton .openToggler .highlightEditSelectorButton:hover{background-image:url(/rsrc.php/v2/yD/r/AxJIGmlIKJJ.png);background-repeat:no-repeat;background-size:auto;background-position:-131px -132px}
.uiStreamBoulderThemeAgg .substoryActorPic img, .uiStreamBoulderThemeAgg .uiStreamInlineAction .inlineActionInputPic{height:32px;width:32px}
.uiStreamBoulderThemeAgg .storyContent{padding-bottom:2px}
.uiStreamBoulderThemeAgg .uiStreamSubstory{margin:0;padding:5px 0}
.uiStreamSubstories .uiStreamSubstory div.storyContent{padding-bottom:2px}
.uiStreamBoulderThemeAgg .uiStreamSubstories > li:first-child .uiStreamSubstory{padding-top:0}
.uiStreamStory .uiStreamSubstory .storyContent{padding:0}
.uiStreamLoader{text-align:center}
.uiStreamBoulderThemeAgg .uiStreamSubstories{margin-top:0;padding-top:0}
.uiStreamBoulderThemeAgg .uiStreamSubstories .uiStreamShowAll{border-bottom:0;text-align:left}
.uiStreamBoulderThemeAgg .uiStreamSubstories .uiStreamShowAll span{font-weight:normal}
.uiStreamBoulderThemeAgg .inlineSubstory .uiStreamSubstory{border-bottom:1px solid #e5e5e5;padding-bottom:10px}
.uiStreamBoulderThemeAgg .uiStreamAttachments .external{display:block;margin:0;padding-bottom:5px;padding-right:10px}
.uiStreamBoulderThemeAgg .uiStreamAttachments .external img{max-height:100px;max-width:120px}
.uiStreamInlineTextarea{display:block;height:19px;width:100%}
.uiStreamShareLikePageBox{border-top:1px solid #e9e9e9;padding-top:10px}
.uiStreamShareLikePageBox .uiPageLikeButton{margin-top:4px}
.uiStreamSubstory .storyInnerContent .rfloat.PageLikeButton, .uiStreamSubstory .storyInnerContent .rfloat .PageLikeButton{margin-right:25px}
.uiStreamHide .highlightEditSelectorButton.uiStreamContextButton.alwaysShowHideButton, .uiStreamHide .highlightSelectorButton.uiStreamContextButton.alwaysShowHideButton, .uiStreamSubstory .uiStreamHide.substoryHideSelector .uiStreamContextButton.alwaysShowHideButton{background-image:url(/rsrc.php/v2/yh/r/1qbc5VDqi8K.png);background-repeat:no-repeat;background-size:auto;background-position:-501px -80px;height:7px;left:-4px;margin-top:14px;opacity:.5;width:10px}
.uiStreamStory .highlightEditSelectorButton.uiStreamContextButton.alwaysShowHideButton:hover, .uiStreamStory .highlightSelectorButton.uiStreamContextButton.alwaysShowHideButton:hover, .uiStreamSubstory .uiStreamHide.substoryHideSelector .uiStreamContextButton.alwaysShowHideButton:hover, .uiStreamStory .openToggler .highlightEditSelectorButton.uiStreamContextButton.alwaysShowHideButton, .uiStreamStory .openToggler .highlightSelectorButton.uiStreamContextButton.alwaysShowHideButton, .uiStreamSubstory .openToggler.uiStreamHide.substoryHideSelector .uiStreamContextButton.alwaysShowHideButton{left:-4px;opacity:.8}
.uiStreamSubstory .uiStreamHide.substoryHideSelector{margin:-12px 10px 0}
.uiStreamRedesign .uiStreamSubstories .uiStreamSubstory .uiUfi{width:358px}
.uiStreamRedesign .uiStreamMessage .messageBody{color:#333;font-size:13px;line-height:1.38}
.uiStreamRedesign .uiStreamStory .mainWrapper{margin-bottom:16px;padding-top:18px}
.permalinkBody .uiStreamRedesign .uiStreamStory .mainWrapper{margin-bottom:4px}
.uiStreamRedesign .uiStreamStory .actorPhoto{margin-bottom:16px;margin-top:18px}
.uiStreamRedesign .uiStreamStory .uiStreamPassive{margin-bottom:6px}
.uiStreamRedesign .uiStreamStory .actorDescription{margin-bottom:0;padding-bottom:4px}
.uiStreamRedesign .shareSubtext{border-left:2px solid #ccc;margin-top:10px;padding-left:8px}
._4bl7{float:left;min-height:1px}
._4bl8{float:right}
._4bl9{overflow:hidden}
._4bl7, ._4bl9{word-wrap:break-word}
.uiMediaThumb{background:#fff;border:1px solid #ccc;display:-moz-inline-box;display:inline-block;outline:none;padding:4px;position:relative;vertical-align:bottom}
.loading.uiMediaThumb{background:url(/rsrc.php/v2/yk/r/LOOn0JtHNzb.gif) no-repeat center center}
.loading.uiMediaThumb i{opacity:.3}
.uiMediaThumbSelected{background-color:#3b5998;border-color:#3b5998}
.uiMediaThumb:hover, .uiMediaThumb:hover .uiMediaThumbWrap, .uiMediaThumb:active, .uiMediaThumb:active .uiMediaThumbWrap, .uiMediaThumb:focus, .uiMediaThumb:focus .uiMediaThumbWrap{border-color:#3b5998}
.uiMediaThumb i{background-color:#eee;background-position:center 25%;background-repeat:no-repeat;display:block}
.uiMediaThumbSmall i{height:54px;width:73px}
.uiMediaThumbMedium i{height:85px;width:114px}
.uiMediaThumbLarge i{height:116px;width:149px}
.uiMediaThumbHuge i{height:120px;width:161px}
.uiMediaThumbAlb{margin-bottom:5px;margin-right:5px}
.uiMediaThumbWrap{background:#fff;border:1px solid #ccc;left:4px;padding:4px;position:absolute;top:4px}
.uiMediaThumbAlbSmall, .uiMediaThumbSmall .uiMediaThumbWrap i{height:49px;width:68px}
.uiMediaThumbAlbMedium, .uiMediaThumbMedium .uiMediaThumbWrap i{height:80px;width:109px}
.uiMediaThumbAlbLarge, .uiMediaThumbLarge .uiMediaThumbWrap i{height:111px;width:144px}
.uiMediaThumbAlbHuge, .uiMediaThumbHuge .uiMediaThumbWrap i{height:115px;width:156px}
.uiPhotoThumb{border:1px solid #ccc;display:inline-block}
.uiPhotoThumb img{display:block;margin:3px}
.uiPhotoThumb:hover{border:1px solid #3b5998}
.loading.uiPhotoThumb{background:url(/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat center center}
.loading.uiPhotoThumb img{opacity:.3}

#bootloader_JJbZ_ { height: 42px; }
.bootloader_JJbZ_ { display:block !important; }